<!DOCTYPE html>
<html class="no-js" lang="en">
<head {% block fb_head_prefix %}{% endblock %}>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no">
    <base href="{{ base_url() }}" />

    {% block fb_meta_data %}
        {#<meta property="fb:app_id" content="670324086412124" />#}
        {#<meta property="og:title" content="Alzheimer Experiences" />#}
        {#<meta property="og:site_name" content="World Alzheimer's Month"/>#}
        {#<meta property="og:url" content="http://athena.microad.co.id/world-alzheimers-month/" />#}
        {#<meta property="og:image" content="http://athena.microad.co.id/world-alzheimers-month/assets/img/Untitled-1.jpg" />#}
        {#<meta property="og:description" content="Think about how difficult it may have been to recognise your friends and family" />#}
    {% endblock %}

    <meta charset="utf-8" />

    <title>{{ meta_title | raw }}</title>
    <link rel="icon" type="image/ico" href="{{ base_url() }}assets/img/icon.png" />
    <meta name="description" content="{{ meta_desc | raw }}">
    
    {% block frontend_css %}
        {{ asset_css('normalize.css') | raw }}
        {{ asset_css('bootstrap.min.css') | raw }}
        {{ asset_css('style-'~current_lang~'.css') | raw }}
        {{ asset_css('canvas-menu.css') | raw }}
    {% endblock %}
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/53758671-72ec-4086-987f-5d3e98d95378.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    {% block fb_js_sdk %}{% endblock %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav" style="border-bottom:1px solid #D2D2D2">
        <div class="row logo" style="border-bottom:1px solid #D2D2D2">
            <div class="container">
                <div class="row logo-mobile">
                    <div class="col-xs-6 hidden-xs .col-sm-5cols">
                        <a href="{{ base_url }}"><img src="./assets/img/logo-wam-3.png" style="background-color: #ffffff" alt="logo world alzheimer's month"></a>
                    </div>
                    <div class="col-xs-6 hidden-xs .col-sm-5cols">
                        <a href="http://www.alz.co.uk" target="_blank"><img class="right" src="./assets/img/logo-adi.png" alt="logo ADI"></a>
                    </div>
                    <div class="col-xs-6 visible-xs .col-sm-5cols">
                        <a href="{{ base_url }}"><img src="./assets/img/mobile/logo-wam.png" style="background-color: #ffffff" alt="logo world alzheimer's month"></a>
                    </div>
                    <div class="col-xs-6 visible-xs .col-sm-5cols">
                        <a href="http://www.alz.co.uk" target="_blank"><img class="right" src="./assets/img/mobile/logo-az.png" alt="logo ADI"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div id="slidemenu">
                <ul class="nav navbar-nav nav-main">
                    {% for menu in frontend_menus %}
                        <li><a href="{{ menu.route }}">{{ lang(menu.lang_code) }}</a> </li>
                    {% endfor %}
                    
                </ul>
                <ul class="nav navbar-nav lang">
                    {% for lang_item in valid_lang %}
                        <li><a href="{{ lang_item.link }}"><span {{ (lang_item.active) ? 'class="active"' : '' }}>{{ lang_item.label }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% block frontend_header %}{% endblock %}

    <div class="container">
        {% block frontend_content %}{% endblock %}
    </div> <!-- /container -->
    <div class="footer d-display">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {#<div class="col-md-12">#}
                        <p class="font-small line-xheight">{{lang('txt_footnote_campaign')}}</p>
                    {#</div>#}
                    {#<div class="col-md-12">#}
                        <p class="font-bold line-xheight">ALZHEIMER'S DISEASE INTERNATIONAL (ADI)</p>
                        <p class="font-small line-xheight">{{lang('txt_footnote_supported')}}</p>
                        <a href="http://www.nutricia.com/" target="_blank"><img src="./assets/img/nutricia.png" style="width: 218px" alt="logo Nutricia"></a>
                    {#</div>#}
                    {#<div class="col-md-12">#}
                        <ul class="social-media xline-height">
                            <li ><a class="facebook" href="https://www.facebook.com/alzheimersdiseaseinternational" target="_blank"></a></li>
                            <li ><a class="twitter" href="https://twitter.com/alzdisint" target="_blank"></a></li>
                            <li ><a class="youtube" href="https://www.youtube.com/user/alzdisint" target="_blank"></a></li>
                        </ul>
                    {#</div>#}
                    {#<div class="col-md-12"  style="margin-top: 45px;">#}
                        <p class="font-small">{{lang('txt_footnote_copyright')}} &nbsp;| &nbsp;<a href="{{base_url()}}{{current_lang}}/privacy-policy">{{lang('txt_footnote_privacy')}}</a>&nbsp;{#|&nbsp; <a href="#">{{lang('txt_footnote_copyright_end')}}</a>#}</p>

                    {#</div>#}
                </div>
                <div class="col-md-3">
                    <p class="font-medium">{{lang('txt_footnote_contact')}}</p>
                    <p class="font-small">Alzheimer's Disease International <br/> 64 Great Suffolk Street <br/>London <br/>SE1 0BL<br/>UK</p>
                    <p class="font-small">Tel: +44 20 79810880 <br/>Fax: +44 20 79282357</p>
                    <p class="font-small">Email: <a href="mailto:info@alz.co.uk">info@alz.co.uk</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer m-display">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-12">
                        <p class="font-small line-xheight">{{lang('txt_footnote_campaign')}}</p>
                    </div>
                    <div class="col-md-12">
                        <p class="font-bold line-xheight">ALZHEIMER'S DISEASE INTERNATIONAL (ADI)</p>
                        <p class="font-small line-xheight">{{lang('txt_footnote_supported')}}</p>
                        <a href="http://www.nutricia.com/" target="_blank"><img src="./assets/img/nutricia.png" style="width: 218px" alt="logo Nutricia"></a>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="custom-padd">
                    <div class="col-xs-12">
                        <p class="font-medium">{{lang('txt_footnote_contact')}}</p>
                        <p class="font-small">Alzheimer's Disease International <br/> 64 Great Sulfolk Street <br/>London <br/>SE1 0BL<br/>UK</p>
                        <p class="font-small">Tel: +44 20 79810880 <br/>Fax: +44 20 79282357</p>
                        <p class="font-small">Email: info@alz.co.uk</p>
                    </div>
                    <div class="col-xs-12">
                        <ul class="social-media xline-height">
                            <li class="facebook"><a href="https://www.facebook.com/alzheimersdiseaseinternational"></a></li>
                            <li class="twitter"><a href="https://twitter.com/alzdisint"></a></li>
                            <li class="youtube"><a href="https://www.youtube.com/user/alzdisint"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <p class="font-small line-xxheight">{{lang('txt_footnote_copyright')}} | <a href="{{base_url()}}{{current_lang}}privacy">{{lang('txt_footnote_privacy')}}</a>
                            {#| <a href="#">{{lang('txt_footnote_copyright_end')}}</a>#}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% block frontend_js %}
        {{ asset_js('jquery.latest.min.js') | raw }}
        {{ asset_js('bootsrap.min.js') | raw }}
        {{ asset_js('canvas-menu.js') | raw }}
        {{ asset_js('common.js') | raw }}
        {{ asset_js('paintbrush.js') | raw }}
        {#{{ asset_js('mobilymap.js') | raw }}#}
    {% endblock %}
</body>
</html>