{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <h3 class="main-title">{{ lang('txt_title_faq')}}</h3>
    <div class="channel d-display">
        <div class="row faq-dementia">
            <div class="col-md-2">
                <div class="dementia-1"></div>
            </div>
            <div class="col-md-10">
                <p class="question line"><span>{{ lang('txt_dementia_q1')}}</span></p>
                <div class="newspaper">{{ lang('txt_dementia_a1')}}</div>
            </div>
        </div>
        <div class="row faq-dementia">
            <div class="col-md-2">
                <div class="dementia-2"></div>
            </div>
            <div class="col-md-10">
                <p class="question line"><span>{{ lang('txt_dementia_q2')}}</span></p>
                <div class="newspaper">{{ lang('txt_dementia_a2')}}</div>
            </div>
        </div>
        <div class="row faq-dementia">
            <div class="col-md-2">
                <div class="dementia-3"></div>
            </div>
            <div class="col-md-10">
                <p class="question line"><span>{{ lang('txt_dementia_q3')}}</span></p>
                <div class="newspaper">{{ lang('txt_dementia_a3') }}</div>
            </div>
        </div>
        <div class="row faq-dementia">
            <div class="col-md-2">
                <div class="dementia-4"></div>
            </div>
            <div class="col-md-10">
                <p class="question line"><span>{{ lang('txt_dementia_q4') }}</span></p>
                <div class="newspaper">{{ lang('txt_dementia_a4')}}</div>
            </div>
        </div>
        <div class="row faq-dementia">
            <div class="col-md-2">
                <div class="dementia-5"></div>
            </div>
            <div class="col-md-10">
                <p class="question line"><span>{{ lang('txt_dementia_q5')}}</span></p>
                <div class="newspaper">{{ lang('txt_dementia_a5')}}</div>
            </div>
        </div>
        <div class="row faq-dementia">
            <div class="col-md-2">
                <div class="dementia-6"></div>
            </div>
            <div class="col-md-10">
                <div class="question line">
                    <p><span>{{ lang('txt_dementia_q6')}}</span></p>
                </div>
                <div class="newspaper">{{ lang('txt_dementia_a6')}}</div>
            </div>
        </div>
    </div>
    <div class="channel m-display">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="panel-heading" role="tab" id="headingOne">
                     <h4 class="panel-title">
                         {{ lang('txt_dementia_q1')}} <span class="triangle"></span>
                        </h4>
                </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>{{ lang('txt_dementia_a1a')}}</p>
                        <div class="dementia-1"></div>
                        <p>{{ lang('txt_dementia_a1b')}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">

                            {{ lang('txt_dementia_q2')}}<span class="triangle"></span>

                    </h4>
                </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>{{ lang('txt_dementia_a2a')}}</p>
                        <div class="dementia-2"></div>
                        <p>{{ lang('txt_dementia_a2b')}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        {{ lang('txt_dementia_q3')}}<span class="triangle"></span>
                    </h4>
                </div>
                </a>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>{{ lang('txt_dementia_a3a')}}</p>
                        <div class="dementia-3"></div>
                        <p>{{ lang('txt_dementia_a3b')}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        {{ lang('txt_dementia_q4')}}<span class="triangle"></span>
                    </h4>
                </div>
                </a>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p>{{ lang('txt_dementia_a4a')}}</p>
                        <div class="dementia-4"></div>
                        <p>{{ lang('txt_dementia_a4b')}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        {{ lang('txt_dementia_q5')}}<span class="triangle"></span>
                    </h4>
                </div>
                </a>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <p>{{ lang('txt_dementia_a5a')}}</p>
                        <div class="dementia-5"></div>
                        <p>{{ lang('txt_dementia_a5b')}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        {{ lang('txt_dementia_q6')}}<span class="triangle"></span>
                    </h4>
                </div>
                </a>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <p>{{ lang('txt_dementia_a6a')}}</p>
                        <div class="dementia-6"></div>
                        <p>{{ lang('txt_dementia_a6b')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="child">
            <div class="box css3-shadow"></div>
            <h3 class="main-title">{{ lang('txt_title_signs')}}</h3>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner about-dementia" role="listbox">
                    <div class="item active">
                        <img class="img-responsive" src="./assets/img/sign-1.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign1')}}</p>
                            <p>{{ lang('txt_desc_sign1')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="./assets/img/sign-2.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign2')}}</p>
                            <p>{{ lang('txt_desc_sign2')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="./assets/img/sign-3.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign3')}}</p>
                            <p>{{ lang('txt_desc_sign3')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="./assets/img/sign-4.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign4')}}</p>
                            <p>{{ lang('txt_desc_sign4')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/img/sign-5.jpg" alt="...">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign5')}}</p>
                            <p>{{ lang('txt_desc_sign5')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/img/sign-6.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign6')}}</p>
                            <p>{{ lang('txt_desc_sign6')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/img/sign-7.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign7')}}</p>
                            <p>{{ lang('txt_desc_sign7')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/img/sign-8.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign8')}}</p>
                            <p>{{ lang('txt_desc_sign8')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/img/sign-9.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign9')}}</p>
                            <p>{{ lang('txt_desc_sign9')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./assets/img/sign-10.jpg" alt="Dementia Sign">
                        <div class="carousel-caption">
                            <p class="question">{{ lang('txt_subtitle_sign10')}}</p>
                            <p>{{ lang('txt_desc_sign10')}}</p>
                            <hr/>
                            <p class="footnote">{{ lang('txt_source') }} : <a href="http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp"> http://www.alz.org/alzheimers_disease_10_signs_of_alzheimers.asp</a></p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="box css3-shadow"></div>
        </div>
    </div>
    <div class="parent">
        <div class="child">
            <h3 class="main-title">{{ lang('txt_title_find_help')}}</h3>
            {#<div class="newspaper left d-display">{{ lang('txt_desc_finding_help')}} {{ lang('txt_click')}} <a href="http://www.alz.co.uk/associations" target="_blank">{{ lang('txt_here')}}</a> {{ lang('txt_desc_finding_help1')}} </div>#}
            <div class="newspaper left d-display" style="padding-bottom: 35px;">{{ lang('txt_desc_finding_help')}}</div>
            <a class="submit d-display" href="http://www.alz.co.uk/associations" target="_blank">{{ lang('txt_button_find_your_national') }}</a>
            <div class="left m-display custom-10-padd">
                <p>{{ lang('txt_desc_finding_help2')}}<p>
                <p>{{ lang('txt_desc_finding_help3')}}</p>
                <p class="text-center"> +++ </p>
                <p>{{ lang('txt_desc_finding_help4')}} </p>
                {#<p>{{ lang('txt_click')}} <a href="http://www.alz.co.uk/associations" target="_blank">{{ lang('txt_here')}}</a> {{ lang('txt_desc_finding_help5')}} </p>#}
                <a class="submit m-display" href="http://www.alz.co.uk/associations" target="_blank">{{ lang('txt_button_find_your_national') }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    {{ asset_js('bootstrap.min.js') | raw }}
    <script type="text/javascript">
        $('.carousel').carousel({
//        interval: 1000 * 10
            interval:false
        })
    </script>
{% endblock %}
