{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <h3 class="main-title">{{ lang('txt_title_facts')}}</h3>
    <div class="video-container">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/V26IMR_cqi4?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="channel d-display">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fact-2"></span>
                    </div>
                    <div class="col-md-10">
                        <p class="table-bordered">{{ lang('txt_desc_fact_2a')}} <a href="{{ base_url() }}{{ current_lang }}/get-involved#find-an-event">{{ lang('txt_desc_fact_find_event')}}</a> {{ lang('txt_desc_fact_2b') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 box-wam">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fact-5"></span>
                    </div>
                    <div class="col-md-10">
                        <p class="table-bordered">{{ lang('txt_desc_fact_5')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fact-1"></span>
                    </div>
                    <div class="col-md-10">
                        <p class="table-bordered">{{ lang('txt_desc_fact_1a')}}<br/>{{ lang('txt_desc_fact_1b')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fact-6"></span>
                    </div>
                    <div class="col-md-10">
                        <p class="table-bordered">{{ lang('txt_desc_fact_6')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fact-3"></span>
                    </div>
                    <div class="col-md-10">
                        <p class="table-bordered">{{ lang('txt_desc_fact_3')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <span class="fact-4"></span>
                    </div>
                    <div class="col-md-10">
                        <p class="table-bordered">{{ lang('txt_desc_fact_4')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="channel m-display">
        <div class="row">
            <div class="col-md-6">
                <div class="row fact">
                    <div class="col-xs-3">
                        <span class="fact-1"></span>
                    </div>
                    <div class="col-xs-9 fact-detail custom-10-padd">
                        <p>{{ lang('txt_desc_fact_1a')}}</p>
                        <p>{{ lang('txt_desc_fact_1b')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row fact">
                    <div class="col-xs-9 fact-detail custom-10-padd">
                        <p>{{ lang('txt_desc_fact_2a')}} <a href="{{ base_url() }}{{ current_lang }}/get-involved#find-an-event">{{ lang('txt_desc_fact_find_event')}}</a> {{ lang('txt_desc_fact_2b') }}</p>
                    </div>
                    <div class="col-xs-3">
                        <span class="fact-2"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row fact">
                    <div class="col-xs-3">
                        <span class="fact-3"></span>
                    </div>
                    <div class="col-xs-9 fact-detail custom-10-padd">
                        <p>{{ lang('txt_desc_fact_3')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row fact">
                    <div class="col-xs-9 fact-detail custom-10-padd">
                        <p>{{ lang('txt_desc_fact_4')}}</p>
                    </div>
                    <div class="col-xs-3">
                        <span class="fact-4"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row fact">
                    <div class="col-xs-3">
                        <span class="fact-5"></span>
                    </div>
                    <div class="col-xs-9 fact-detail custom-10-padd">
                        <p>{{ lang('txt_desc_fact_5')}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="parent">
        <div class="child">
            <div class="box css3-shadow"></div>
            <h3 class="main-title">{{ lang('txt_title_remember_me')}}</h3>
            <img src="./assets/img/World Alzheimer's Month map white.jpg" class="img-responsive" alt="World Alzheimer's Month Map">
            <div class="d-display">
                <p class="left">{{ lang('txt_desc_remember_me_1')}}</p>
                <p class="left">{{ lang('txt_desc_remember_me_2')}} <a href="http://www.alz.co.uk/world-alzheimers-month/previous-campaigns" target="_blank">{{ lang('txt_here')}}</a> </p>
            </div>
            <div class="m-display">
                <p class="left custom-10-padd">{{ lang('txt_desc_remember_me_1')}}</p>
                <p class="left custom-10-padd">{{ lang('txt_desc_remember_me_2')}} <a href="http://www.alz.co.uk/world-alzheimers-month/previous-campaigns" target="_blank">{{ lang('txt_here')}}</a> </p>
            </div>
        </div>
    </div>
    <div class="parent">
        <div class="child">
            <div class="box css3-shadow"></div>
            <h3 class="main-title">{{ lang('txt_title_about_wam')}}</h3>
            <div class="row d-display">
                <div class="col-md-4">
                    <img src="./assets/img/ADI-logo-NEW.png" class="img-responsive" alt="Logo ADI">
                </div>
                <div class="col-md-8 vertical-line" >
                    <p class="left">{{ lang('txt_desc_about_wam_1')}}</p>
                    <p class="left">{{ lang('txt_desc_about_wam_2')}}</p>
                    <p class="left">{{ lang('txt_desc_about_wam_3')}}</p>
                </div>
            </div>
            <div class="row m-display custom-10-padd">

                    <p class="left">{{ lang('txt_desc_about_wam_1')}}</p>
                    <p class="left">{{ lang('txt_desc_about_wam_2')}}</p>
                    <p class="left">{{ lang('txt_desc_about_wam_3')}}</p>
                <span>
                    <img src="./assets/img/ADI-logo-NEW.png" class="custom-v img-responsive-costom" alt="Logo ADI">
                </span>

            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 1000 * 5
        })
    </script>
{% endblock %}
