{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}

 
<div class="parent" style="min-height: 850px;">
    <div class="text-center">
        <h3>{{ lang('txt_add_event') }}</h3>
    </div>
    <div id="thanks" style="display: none;"><span class="alert alert-success">{{ success_message }}</span><br><br></div> 
    <form role="form" id="modal-addevent-form" class="contact" enctype="multipart/form-data" action="" name="event-form" method="POST">
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_event_name') }}" name="eventname">
        </div>
        <div class="form-group">
            <input type="email" class="form-control input-lg" placeholder="{{ lang('txt_email') }}" name="email">
        </div>
        <div class="form-group">
            <textarea name="desc" class="form-control" placeholder="{{ lang('txt_event_desc') }}"></textarea>
        </div>
        <div class="form-group">
            <input type="datetime" class="form-control input-lg" placeholder="{{ lang('txt_date') }}" name="date">
        </div>
        <div class="form-group">
            <input type="datetime" class="form-control input-lg" placeholder="{{ lang('txt_time') }}" name="time">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_country') }}" name="countryf">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_city') }}" name="cityf">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_location') }}" name="location">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_organization') }}" name="organisation">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_web_link') }}" name="weblink">
        </div>
        <div class="form-group">
            <input type="file" id="uploaded_file" name="uploaded_file" class="form-control input-lg" onchange="previewImage(this);">
        </div>
        <div class="form-group">
            <img src="assets/img/frame.png" alt="Image preview" id="preview">
        </div>
        <input id="status" type="hidden" value="{{ status_message }}">
        <div class="modal-footer">
            <input id="submit" type="submit" class="submit" value="Submit">
        </div>    
    </form>
    

</div>
{% endblock %}

{% block frontend_js %}
{{ asset_js('jquery-1.11.2.min.js') | raw }}
{{ asset_js('canvas-menu.js') | raw }}

<script>
    function previewImage(input) {
        
        var preview = document.getElementById('preview');
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
          preview.setAttribute('src', e.target.result);
         }
         reader.readAsDataURL(input.files[0]);
        }else {
         preview.setAttribute('src', 'placeholder.png');
        }
        
    }
    
   (function(){
       
       var status = document.getElementById('status').value;
       //alert(status);
       if(status == 1){
           document.getElementById('thanks').style.display = "block";
       }
   })(); 
</script>
{% endblock %}
