{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <div class="parent campaign">
        <h3 class="main-title custom-v-padd">World Alzheimer's Month 2015</h3>
        <h4>Remember Me</h4>
        <a href="http://worldalzmonth.org/eng/home" marked="1" target="_blank"><img src="assets/img/world-alz-month-2015-poster.png" class="campaign-poster"></a>
        <p>The theme for the 2015 <a marked="1" href="http://worldalzmonth.org/eng/home" target="_blank">World Alzheimer's Month</a> campaign was Remember Me, encouraging people from all around the world to learn to spot the signs of dementia, but also not to forget about loved ones who are living with dementia, or who may have passed away. Alzheimer associations around the world focused campaigns on advocacy and public awareness with a busy month of activities.</p>
        <p>September’s campaign was kicked off by the launch of the <a marked="1" href="http://www.alz.co.uk/research/world-report-2015" target="_blank">World Alzheimer Report 2015</a>, putting the spotlight on the global impact of dementia. On World Alzheimer’s Day, ADI issued a <a marked="1" href="http://www.alz.co.uk/news/adi-urges-global-action-on-dementia" target="_blank">statement</a> calling for stronger international commitment, urging the World Health Organization (WHO) Member States to adopt a resolution on dementia. The statement also highlighted the need for dementia to be included in international development aid programmes to support low and middle income nations, countries which will account for 68% of the total global prevalence by the middle of the century.</p>
        <p>At the start of September, ADI welcomed Alzheimer associations from Puerto Rico, St Kitts and Nevis, Pakistan, Norway, South Africa and Indonesia to the annual <a marked="1" href="http://www.alz.co.uk/alzheimer-university" target="_blank">Alzheimer University</a> training programme in London, a series of workshops to help strengthen and develop dementia organizations. At the end of the programme, participants also took part in a Dementia Friends session run by ADI Honorary Vice President and Dementia Champion, Dr Nori Graham.</p>
        <p>September is a time for action, a global movement united by its call for change, but it is also a time to think about the impact of dementia, a disease that will affect more and more people as the years pass. Richard Branson reflected on how dementia has affected his own family in a special <a marked="1" href="http://www.virgin.com/richard-branson/remember-me" target="_blank">blog post</a>, while <a marked="1" href="http://www.dementiaallianceinternational.org/" target="_blank">Dementia Alliance International</a> marked September’s campaign by writing a blog post a day, discussing a wide range of topics.</p>
        <p>Over on Twitter, #WorldAlzheimersDay and #DíaMundialAlzheimer were two of the most popular hashtags on 21 September, as many people took to social media to reflect on the impact of dementia and discuss how we can better support people living with the disease.</p>
        <p>Each year, more countries take part in World Alzheimer’s Month and thanks to <a marked="1" href="http://www.alz.co.uk/associations" target="_blank">Alzheimer associations</a> around the world, awareness of dementia is improving. It is these organisations who provide support to millions of people and who fight all year round to help improve the quality of life for people living with dementia. It is this dedication that makes World Alzheimer’s Month a success.</p>
        <p>We would like to thank everybody who was involved in activities and we look forward to another successful campaign next year.</p>
    </div>

{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    {{ asset_js('bootstrap.min.js') | raw }}
    <script type="text/javascript">
        $('.carousel').carousel({
            interval: 1000 * 10
//            interval:false
        })
    </script>
{% endblock %}
