{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <h3 class="main-title">{{ lang('txt_title_do_you') }}</h3>
    <img src="./assets/img/experience-one-new-banner-alt.jpg" class="img-responsive center-block distance-bottom">
    <p class="text-center">{{ lang('txt_experience_new_1_alt_content_1') }}</p>
    <p class="text-center">{{ lang('txt_experience_new_1_alt_content_2') }}</p>
    <p class="text-warning text-center">Login with Facebook to get started.</p>
    <div class="facebook-login custom-v-padd text-center">
        {% if fb_login_url | length > 0 %}
            <a href="{{ fb_login_url }}"><img src="{{ base_url() }}/assets/css/images/login-with-facebook.png"/></a>
        {% endif %}
    </div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
{% endblock %}