{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}
{% block fb_meta_data %}
    <meta property="fb:app_id" content="670324086412124" />
    <meta property="og:title" content="Alzheimer Experiences" />
    <meta property="og:site_name" content="World Alzheimer's Month"/>
    <meta property="og:url" content="http://athena.microad.co.id/world-alzheimers-month/" />
    <meta property="og:image" content="http://athena.microad.co.id/world-alzheimers-month/assets/img/Untitled-1.jpg" />
    <meta property="og:description" content="Think about how difficult it may have been to recognise your friends and family" />
{% endblock %}

{% block frontend_content %}
<h3 class="main-title">Do you remember me?</h3>
<div class="text-center">
    <p>You've succesfully tagged</p>
    
    <p>
        <b id='result'></b> Names
    </p>
    <a href="{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-2">
        <div class="button-try-again"></div>
    </a>
    <p>Think about how difficult it may have been to recognise your friends and family <br/>
    in these photographs and you will have had a small glimpse into what it's like to live<br/>
    with dementia, especially in the middle and later stages<br/>
    when familliar faces and memories will fade away</p>
    <p class="text-center">+++</p>
    <p>Spread the word!</p>
    <p>So the world can see what you've seen.</p>
    <ul class="share-social-media">
        <li>
            <a href="javascript:" id="share-app-fb">
                <div class="share-facebook"></div>
            </a>
        </li>
        <li>
            <a href="javascript:" id="share-app-twitter">
                <div class="share-twitter"></div>
            </a>
            </li>
        <li><div class="share-google-plus"></div></li>
        <li><div class="share-pinterest"></div></li>
    </ul>
    <!-- Add the following three tags to your body. -->

    {#<div class="g-plus" data-action="share"></div>#}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=670324086412124&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script type="text/javascript">
        
        window.onload = function(){
            var el = document.getElementById('result');
            var query = window.location.search.substring(1);
            var vars = query.split("=");
            
            if(vars[0] == 'status'){
                el.innerHTML = vars[1];
            }
            return(false);
        }
        
        var is_fb_open = false;
        $(document).on('click', '#share-app-fb', function() {
            if (is_fb_open == false) {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        is_fb_open = true;
                        var uid = response.authResponse.userID;
                        var accessToken = response.authResponse.accessToken;
                        FB.api('/me', function(response) {
                            FB.ui({
                                method: 'share',
                                href: '{{ base_url }}{{ current_lang }}/experience-four'
                            }, function(response_callback){
                                if(typeof response_callback !== "undefined"){
                                    is_fb_open = false;
                                }
                            });
                        });
                    } else {
                        FB.login(function(response) {
                            if (response.authResponse) {
                                window.location.href = window.location.href;
                            }
                        });
                    }
                });
            }
        });
        
        $(document).on('click', '#share-app-twitter', function(e) {
            //We tell our browser not to follow that link
            e.preventDefault();
            //We get the URL of the link
            var loc = 'https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fathena.microad.co.id%2Fworld-alzheimers-month%2Fdo-you-remember-me%2Fstep-4&text=Hello World&tw_p=tweetbutton&url={{ base_url() }}';
            //We trigger a new window with the Twitter dialog, in the middle of the page
            window.open(loc, 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
        });
        
    </script>
{% endblock %}
