{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
<h3 class="main-title">Do you remember me?</h3>
<div class="row">
    <div class="col-md-6">
        <div class="m-display custom-5-padd">
            <h3>Instructions</h3>
            <ul style="list-style: outside none disc;">
                <li>Press start to begin the game.</li>
                <li>Name the faces from left to right.</li>
                <li>You must guess all of their names in 2 minutes.</li>
                <li>The difficulties will increase on each photo.</li>
            </ul>
        </div>
        <div class="frame-exp d-display">
            <img id="in-frame" class="in-frame" src="{{ fb_info.source }}">
        </div>
        <div class="frame-exp m-display center">
            <img class="in-frame" src="{{ fb_info.source }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="d-display">
            <h3>Instructions</h3>
            <ul>
                <li>Press start to begin the game.</li>
                <li>Name <b>{{ fb_info.count }}</b> faces from left to right.</li>
                <li>You must guess all of their names in 2 minutes.</li>
                <li>The difficulties will increase on each photo.</li>
            </ul>
        </div>

        <form>
            <p>Time</p>
            <div>
                <span class="time-counter" id="time"></span><span class="font-12">  Minutes</span>
            </div>
            {#<div>{{ fb_info.tagger | join(',') }}</div>#}
            <p>Your friend's name : </p>
            
            <input id="tag-name" type="hidden" value="{{ fb_info.tagger | join(',') }}"/>
            <input id="tag-input" type="text" class="span4 basicTypeahead input-tag" placeholder="Your friend's name" autocomplete="off" data-provide="typeahead" size="40"/>
            
            <a href="javascript: compare();">
                <div class="button-submit"></div>
            </a>
        </form>
    </div>
</div>
<div class="row m-display custom-5-padd">


</div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    
<script type="text/javascript">
    
    function startTimer(duration, display) {
        var start = Date.now(),
            diff,
            minutes,
            seconds;
            
        function timer() {
                // get the number of seconds that have elapsed since
                // startTimer() was called
            diff = duration - (((Date.now() - start) / 1000) | 0);

                // does the same job as parseInt truncates the float
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;
                //alert(minutes);
            //if(minutes == 1 && seconds == 57){
                document.getElementById("in-frame").style.webkitFilter = "blur(2px)";
            //}
            
            if(minutes == 0 && seconds == 0){
                {#alert('waktu sudah habis');#}
                //return false;
                window.location.href = "{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-4";
            }
            
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (diff <= 0) {
                    // add one second so that the count down starts at the full duration
                    // example 05:00 not 04:59
                start = Date.now() + 1000;
            }
        };
            // we don't want to wait a full second before the timer starts
        timer();
        setInterval(timer, 1000);
    }

    window.onload = function () {
        var twoMinutes = 60 * 2,
        display = document.querySelector('#time');
        startTimer(twoMinutes, display);
    };
    
    function compare(){
        
        var names_to_array = new Array();
        var inputs_to_array = new Array();
        
        var names = document.getElementById('tag-name').value;
        var inputs = document.getElementById('tag-input').value;
        
        names_to_array = names.split(',').sort();
        inputs_to_array = inputs.split(',').sort(); 
        var count = names_to_array.length;
        var wrong = 0;
        
        if (names_to_array.length != inputs_to_array.length){
            alert('panjang tidak sama');
            return false;
        }
        
        for (var i = 0, l = names_to_array.length; i < l; i++) {
        // Check if we have nested arrays
            if (names_to_array[i] instanceof Array && inputs_to_array[i] instanceof Array) {
            // recurse into the nested arrays
             if (!names_to_array[i].equals(inputs_to_array[i]))
                    alert('tidak sama1'); 
                    wrong += 1;
                    return false;
            
            }else if (names_to_array[i] != inputs_to_array[i]) { 
            // Warning - two different object instances will never be equal: {x:20} != {x:20}
                //alert('tidak sama2');
                wrong += 1;
                //return false;
            } 
        
        
        }       
        //return true;
        //alert('sama');
        //alert('anda salah: ' + wrong + ' dan benar: ' + right );
        window.open("{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-4?status="+(count - wrong), "_self");
    }

</script>

{% endblock %}
