{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <h3 class="main-title title-gap">{{ lang('txt_title_do_you') }}</h3>
    <div class="early-stage">
        <img class="stage pull-right m-center-custom" src="./assets/img/mid-stage.png">
    </div>
    <div class="early-stage-content text-center">
        <p>{{ lang('txt_experience_new_5_content_1') }} </p>
        <br/>
        <p>{{ lang('txt_experience_new_5_content_2') }}</p>
        <br/>
        <p>{{ lang('txt_experience_new_5_content_3') }}</p>
        <div class="text-center distance-bottom">
            <a class="submit continue" href="{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-6">{{ lang('txt_continue') }}</a>
        </div>
    </div>
    <div class="grey-bottom-line text-center"></div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    {{ asset_js('common.js') | raw }}
    {{ asset_js('paintbrush.js') | raw }}
    <script type="text/javascript">
        {#setTimeout(function(){#}
            {#window.location.href = "{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-6";#}
        {#},3000);#}
    </script>
{% endblock %}