{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}
{% block fb_meta_data %}
    <meta property="fb:app_id" content="670324086412124" />
    <meta property="og:title" content="Do you remember me?" />
    <meta property="og:site_name" content="World Alzheimer's Month"/>
    <meta property="og:url" content="http://athena.microad.co.id/world-alzheimers-month/eng/do-you-remember-me/step-11" />
    <meta property="og:image" content="http://athena.microad.co.id/world-alzheimers-month/assets/img/fb-og-image.jpg" />
    <meta property="og:description" content="Every person is unique and dementia affects people differently – no two people will have symptoms that develop in the same way, but there are broad similarities between them all. This game gives an idea of what it might be like to find it difficult to recognise friends and family or to recall memories." />
{% endblock %}

{% block frontend_content %}

    <div class="parent" style="min-height: 850px;">
        <h3 class="main-title title-gap">{{ lang('txt_title_do_you') }}</h3>
        <div class="row grey-upper-line"></div>
        <div class="row grey-line padd-55">
            <div class="col-md-5 padd-40">
                <p class="padd text-justify">{{ lang('txt_experience_new_11_content_1') }}</p>
            </div>
            <div class="col-md-2">
                <img src="./assets/img/thanks-for-care.png" class="padd-20 center-block">
            </div>
            <div class="col-md-5 padd-40">
                <p class="padd text-justify">{{ lang('txt_experience_new_11_content_2') }}</p>
            </div>
            <div class="row grey-bottom-line inner-line"></div>
            <div class="col-md-12">
                <p>{{ lang('txt_experience_new_11_content_3') }}</p>
                <div class="row top-25">
                    <p class="col-md-2 custom-col-2">SHARE TO:</p>
                    <ul class="share-social-media col-md-6">
                        <li>
                            <a href="javascript:" id="share-app-fb">
                                <img src="./assets/img/facebook.png">
                            </a>
                        </li>
                        <li>
                            <a href="javascript:" id="share-app-twitter">
                                <img src="./assets/img/twitter.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url=http://worldalzmonth.org/eng/home" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                <img src="./assets/img/google-plus.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row grey-bottom-line"></div>

    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=670324086412124&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script type="text/javascript">

        window.onload = function(){
            var el = document.getElementById('result');
            var query = window.location.search.substring(1);
            var vars = query.split("=");

            if(vars[0] == 'status'){
                el.innerHTML = vars[1];
            }
            return(false);
        }

        var is_fb_open = false;
        $(document).on('click', '#share-app-fb', function() {
            if (is_fb_open == false) {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        is_fb_open = true;
                        var uid = response.authResponse.userID;
                        var accessToken = response.authResponse.accessToken;
                        FB.api('/me', function(response) {
                            FB.ui({
                                method: 'share',
                                {#href: '{{ base_url }}{{ current_lang }}/do-you-remember-me/step-11'#}
                                href: 'http://athena.microad.co.id/world-alzheimers-month/eng/do-you-remember-me/step-11'
                            }, function(response_callback){
                                if(typeof response_callback !== "undefined"){
                                    is_fb_open = false;
                                }
                            });
                        });
                    } else {
                        FB.login(function(response) {
                            if (response.authResponse) {
                                window.location.href = window.location.href;
                            }
                        });
                    }
                });
            }
        });

        $(document).on('click', '#share-app-twitter', function(e) {
            //We tell our browser not to follow that link
            e.preventDefault();
            //We get the URL of the link
            var loc = 'https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fathena.microad.co.id%2Fworld-alzheimers-month%2Fdo-you-remember-me%2Fstep-11&text=%23DoYouRememberMe gives you an idea of what it might be like to find it difficult to recognise loved ones %23WAM2015 [worldalzmonth%2Eorg]&tw_p=tweetbutton&url=worldalzmonth.org';
            //We trigger a new window with the Twitter dialog, in the middle of the page
            window.open(loc, 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
        });

    </script>
{% endblock %}

