{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <div class="parent" style="min-height: 850px;">
        <div class="col-md-7">
            <img src="./assets/img/experience-one-new-banner.jpg" class="img-responsive m-center">
        </div>
        <div class="col-md-5 m-text-center">
            <h3 class="main-title-left m-text-center">{{ lang('txt_title_do_you') }}</h3>
            <p class="font-13">{{ lang('txt_experience_new_1_content_1') }} </p>
            <p class="font-13">{{ lang('txt_experience_new_1_content_2') }}</p>
            <p class="font-13">{{ lang('txt_experience_new_1_content_3') }}</p>
            <p class="text-warning font-18">Login with Facebook to get started.</p>
            <p class="m-display">{{ lang('txt_desc_do_you_login') }}</p>
            <div class="facebook-login custom-v-padd m-text-center">
                {% if fb_login_url | length > 0 %}
                    <a href="{{ fb_login_url }}"><img src="{{ base_url() }}/assets/css/images/login-with-facebook.png"/></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
{% endblock %}
