{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <h3 class="main-title title-gap-bottom">{{ lang('txt_title_do_you') }}</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="frame-exp d-display">
                <img id="in-frame" class="in-frame filter-mosaic" src="{{ fb_img_base64 }}" data-pb-mosaic-opacity="1" data-pb-mosaic-size="8">
            </div>
            <div class="frame-exp m-display center">
                <img id="in-frame" class="in-frame filter-mosaic" src="{{ fb_img_base64 }}" data-pb-mosaic-opacity="1" data-pb-mosaic-size="8">
            </div>
        </div>
        <div class="col-md-6 top-vert pull-left">
            <p class="font-22">{{ lang('txt_experience_new_9_content_1') }}</p>
            <div class="choose">
                <div class="circle-choose circle-right" onclick="next_step()">{{ lang('txt_experience_new_3_content_2') }}</div>
                <div class="circle-choose circle-left" onclick="next_step()">{{ lang('txt_experience_new_3_content_3') }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    {{ asset_js('common.js') | raw }}
    {{ asset_js('paintbrush.js') | raw }}
    <script type="text/javascript">
        function next_step(){
            window.location.href = '{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-11';//{{ next_step }}';
        }
    </script>
{% endblock %}
