{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
<h3 class="main-title">{{ lang('txt_title_do_you')}}</h3>
<div class="row d-display">
    <div class="col-md-7">
        <img class="img-responsive" src="./assets/img/exp-two-frame.png" style="float: right">
    </div>
    <div class="col-md-5">
        <h3>{{ lang('txt_title_instruction')}}</h3>
        <ul>
            <li>{{ lang('txt_instruction_step_1')}}</li>
            <li>{{ lang('txt_instruction_step_2')}}</li>
            <li>{{ lang('txt_instruction_step_3')}}</li>
            <li>{{ lang('txt_instruction_step_4')}}</li>
        </ul>
        <p>Time</p>
        <div class="time-counter">
            <h1>02:00</h1><span>{{ lang('txt_minutes')}}</span>
        </div>
        <p>{{ lang('txt_text_friends')}}</p>
        <img src="./assets/img/exp-two-ex-input.png">
        <a href="{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-3">
        <div class="button-start"></div>
        </a>
    </div>
</div>
<div class="row m-display custom-5-padd">
    <h3>{{ lang('txt_title_instruction')}}</h3>
    <ul style="list-style: outside none disc;">
        <li>{{ lang('txt_instruction_step_1')}}</li>
        <li>{{ lang('txt_instruction_step_2')}}</li>
        <li>{{ lang('txt_instruction_step_3')}}</li>
        <li>{{ lang('txt_instruction_step_4')}}</li>
    </ul>
   <img class="img-responsive" src="./assets/img/mobile/exp-two-frame.png">
   <p class="d-display child">{{ lang('txt_time')}}<span class="time-counter">02:00</span></p>
    <p class="m-display child" style="margin-top: -25%;">{{ lang('txt_time')}}<span class="time-counter">02:00</span></p>
   <p>{{ lang('txt_text_friends')}}</p>
   <img src="./assets/img/exp-two-ex-input.png" class="img-responsive">
   <a href="{{ base_url() }}{{ current_lang }}/do-you-remember-me/step-3">
        <div class="button-start custom-v-padd"></div>
   </a>
</div>
{% endblock %}

{% block frontend_js %}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
{% endblock %}
