{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}

<div class="parent" style="min-height: 850px;">
    <div class="child custom-5-padd">
        <h3 class="main-title custom-v-padd">{{ lang('txt_title_do_you')}}</h3>gaga
        <img class="img-responsive d-display custom-v-padd" src="./assets/img/experience-one-new.jpg" alt="Do you remember me?">
        <img class="img-responsive m-display custom-v-padd" src="./assets/img/mobile/experience-one.jpg" alt="Do you remember me?">
        <p class="d-display">{{ lang('txt_desc_do_you')}}</p>
        <p class="d-display" style="color: #F6303E; font-size: 18px">{{ lang('txt_desc_do_you_alt2') }}</p>
        <p class="d-display">{{ lang('txt_desc_do_you_login') }}</p>
        <p class="m-display custom-v-padd">{{ lang('txt_desc_do_you')}}</p>
        <p class="m-display" style="color: #F6303E; font-size: 18px">{{ lang('txt_desc_do_you_alt2') }}</p>

        {#<p class="m-display">{{ lang('txt_desc_do_you_login') }}</p>#}
        {#<div class="facebook-login custom-v-padd">#}
            {#{% if fb_login_url | length > 0 %}#}
                {#<a href="{{ fb_login_url }}"><img src="{{ base_url() }}/assets/css/images/login-with-facebook.png"/></a>#}
            {#{% endif %}#}
        {#</div>#}

        <p style="color: #F6303E; font-size: 28px">{{ lang('txt_coming_soon') }}</p>

    </div>
    </div>
</div>
{% endblock %}

{% block frontend_js %}
{{ asset_js('jquery-1.11.2.min.js') | raw }}
{{ asset_js('canvas-menu.js') | raw }}
{% endblock %}
