{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}
    <div class="parent">
        <div class="child">
            <h3 class="main-title">{{ lang('txt_title_spread_word')}}</h3>
            <div class="d-display">
            <p class="d-display">{{ lang('txt_desc_spread_word_1')}}</p>
        </div>
            <div class="m-display">
            <p class="custom-10-padd">{{ lang('txt_desc_spread_word_1a')}}</p>
            <p class="text-center">+++</p>
            <p class="custom-10-padd">{{ lang('txt_desc_spread_word_1b')}}</p>
        </div>
            <div class="row d-display">
            <div class="col-md-3 col-xs-6">
                <div class="ad">
                    <div data-name="fb-profile-pic" class="ad-image">
                        {#{% for filename in fbprofilepic_img %}#}
                        {#<a href="{{ base_url() }}media/fbprofilepic/{{ filename }}" download="Facebook Profile Picture">#}
                            {#<img src="{{ base_url() }}media/fbprofilepic/thumbnail/{{ filename }}" class="img-responsive">#}
                        {#</a>#}
                        {#{% endfor %}#}
                        {#<a href="./assets/img/media/WAM-English-Poster-2015-Web.pdf" download="Poster.pdf">#}
                        <a href="{{ base_url() }}assets/img/media/download-{{ current_lang }}/WAM-2015-Poster-Web.pdf" download="Poster.pdf">
                            <img src="./assets/img/media/poster-thumb.png" alt="Poster WAM 2015">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Poster <br/>(A3, PDF)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="ad">
                    <div id="socmed-poster" class="ad-image">
                        {#{% for filename in socmedposter_img %}#}
                        {#<a href="{{ base_url() }}media/socmedposter/{{ filename }}" download="Social Media Image Poster">#}
                            {#<img src="{{ base_url() }}media/socmedposter/thumbnail/{{ filename }}" class="img-responsive">#}
                        {#</a>  #}
                        {#{% endfor %}#}
                        <a href="{{ base_url() }}assets/img/media/download-{{ current_lang }}/WAM-2015-Bulletin-Web.pdf" download="Bulletin.pdf">
                            <img src="./assets/img/media/bulletin-thumb.png" class="img-responsive" alt="Bulletin WAM 2015">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Bulletin <br/>(A4, PDF)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="ad">
                    <div id="print-ad" class="ad-image">
                        {#{% for filename in printad_img %}#}
                        {#<a href="{{ base_url() }}media/printad/{{ filename }}" download="Print Ad A3 Size">#}
                            {#<img src="{{ base_url() }}media/printad/thumbnail/{{ filename }}" class="img-responsive">#}
                        {#</a>  #}
                        {#{% endfor %}#}
                        <a href="{{ base_url() }}assets/img/media/download-{{ current_lang }}/Facebook.png" download="Facebook cover photo.png">
                            <img src="./assets/img/media/facebook-thumb.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Facebook cover photo<br/>(PNG)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="ad">
                    <div id="print-ad-typo" class="ad-image">
                        {#{% for filename in printadtypo_img %}#}
                        {#<a href="{{ base_url() }}media/printadtypo/{{ filename }}" download="Print Ad Typographic ver">#}
                            {#<img src="{{ base_url() }}media/printadtypo/thumbnail/{{ filename }}" class="img-responsive">#}
                        {#</a>  #}
                        {#{% endfor %}#}
                        <a href="{{ base_url() }}assets/img/media/download-{{ current_lang }}/Twitter.png" download="Twitter cover photo.png">
                            <img src="./assets/img/media/twitter-thumb.png">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Twitter cover photo <br/>(PNG)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="ad">
                    <div id="fb-cover" class="ad-image">
                        {#{% for filename in fbcover_img %}#}
                        {#<a href="{{ base_url() }}media/fbcover/{{ filename }}">#}
                            {#<img src="{{ base_url() }}media/fbcover/thumbnail/{{ filename }}" class="img-responsive">#}
                        {#</a>  #}
                        {#{% endfor %}#}
                        <a href="{{ base_url() }}assets/img/media/download-{{ current_lang }}/WAM-2015-Letter-Template.doc" download="Letter template.doc">
                            <img src="./assets/img/media/letter-thumb.png">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Letter template<br/>(.DOC)</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="row m-display">
            <div class="col-xs-1 left-slide"><a class="back-btn off"><img src="./assets/img/row-left.png"></a></div>
            <div class="col-xs-8 vote-result first selectedDiv">
                <div class="ad">
                    <div data-name="fb-profile-pic" class="ad-image">
                        {#{% for filename in fbprofilepic_img %}#}
                            {#<a href="{{ base_url() }}media/fbprofilepic/{{ filename }}" download="Facebook Profile Picture">#}
                                {#<img src="{{ base_url() }}media/fbprofilepic/thumbnail/{{ filename }}" class="img-responsive">#}
                            {#</a>#}
                        {#{% endfor %}#}
                        <a href="./assets/img/media/WAM-English-Poster-2015-Web.pdf" download="Poster.pdf">
                            <img src="./assets/img/media/poster-thumb.png">
                        </a>

                    </div>
                    <div class="ad-title">
                        <p>Poster <br/>(A3, PDF)</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 vote-result">
                <div class="ad">
                    <div id="socmed-poster" class="ad-image">
                        {#{% for filename in socmedposter_img %}#}
                            {#<a href="{{ base_url() }}media/socmedposter/{{ filename }}" download="Social Media Image Poster">#}
                                {#<img src="{{ base_url() }}media/socmedposter/thumbnail/{{ filename }}" class="img-responsive">#}
                            {#</a>#}
                        {#{% endfor %}#}
                        <a href="./assets/img/media/WAM-2015-Bulletin-English-Web.pdf" download="Bulletin.pdf">
                            <img src="./assets/img/media/bulletin-thumb.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Bulletin <br/>(A4, PDF)</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 vote-result">
                <div class="ad">
                    <div id="print-ad" class="ad-image">
                        {#{% for filename in printad_img %}#}
                            {#<a href="{{ base_url() }}media/printad/{{ filename }}" download="Print Ad A3 Size">#}
                                {#<img src="{{ base_url() }}media/printad/thumbnail/{{ filename }}" class="img-responsive">#}
                            {#</a>#}
                        {#{% endfor %}#}
                        <a href="./assets/img/media/Facebook.png" download="Facebook cover photo.png">
                            <img src="./assets/img/media/facebook-thumb.png">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Facebook cover photo<br/>(PNG)</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 vote-result">
                <div class="ad">
                    <div id="print-ad-typo" class="ad-image">
                        {#{% for filename in printadtypo_img %}#}
                            {#<a href="{{ base_url() }}media/printadtypo/{{ filename }}" download="Print Ad Typographic ver">#}
                                {#<img src="{{ base_url() }}media/printadtypo/thumbnail/{{ filename }}" class="img-responsive">#}
                            {#</a>#}
                        {#{% endfor %}#}
                        <a href="./assets/img/media/Twitter.png" download="Twitter cover photo.png">
                            <img src="./assets/img/media/twitter-thumb.png">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Twitter cover photo<br/>(PNG)</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 vote-result last">
                <div class="ad">
                    <div id="fb-cover" class="ad-image">
                        {#{% for filename in fbcover_img %}#}
                            {#<a href="{{ base_url() }}media/fbcover/{{ filename }}">#}
                                {#<img src="{{ base_url() }}media/fbcover/thumbnail/{{ filename }}" class="img-responsive">#}
                            {#</a>#}
                        {#{% endfor %}#}
                        <a href="./assets/img/media/World-Alzheimer-Month-Letter-Template.doc" download="Letter template.doc">
                            <img src="./assets/img/media/letter-thumb.png">
                        </a>
                    </div>
                    <div class="ad-title">
                        <p>Letter template<br/>(.DOC)</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 right-slide"><a class="next-btn"><img src="./assets/img/row-right.png"></a></div>
        </div>
        </div>
         
    </div>
        <a name="find-an-event"></a>              
        <div class="channel delay">

        <div class="channel delay custom-10-padd">
        <div class="box css3-shadow"></div>
    
       
        <h3 class="main-title">{{ lang('txt_title_find_event')}}</h3>
        
        <div class="row show-event" style="margin-top: -80px; margin-bottom: -80px;">
            {% for event in main_event %}
            <div class="col-md-6 event">
                <h3 class="sub-title text-orange">{{ event.name }}</h3>
                {#<b class="tanggal">Event Date: </b>#}<span class="text-orange">{{ event.event_date }}</span>
                <hr/>
                <img class="event-gallery img-responsive" src="{{ base_url() }}media/eventimage/{{ event.image }}"><br/>
                <p class="content">{{ event.content }}</p>
                <p class="address">
                <b>Tel:</b> <span>{{ event.phone }}</span><br/>
                <b>Email:</b> <span><a href="mailto:info@alz.co.uk?Subject=Enquiry">{{ event.email }}</a></span><br/>
                <b>Web:</b> <span class="text-orange"><a href="http://www.alz.co.uk">{{ event.web }}</a></span>
                </p><br/>
            </div>
            {% endfor %}

        </div>
        <h3 class="sub-title">{{ lang('txt_subtitle_find_event')}}</h3>
        
        <p class="newspaper left">{{ lang('txt_desc_find_event')}} <a href="http://www.alz.co.uk/associations" target="_blank">{{ lang('txt_here')}}</a>. {{ lang('txt_desc_find_event_2')}}</p>
        
        
        
        
        <br/>
        <form >
            <label>
                <select class="form-control region" id="region" onchange="showCountry(this.value);">
                    <option value="">{{ lang('txt_region')}}</option>
                    {% for id,name in region_data %}
                        <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </label>
            <br/>
            <label>
                <select class="form-control country" id="country" onchange="showCity(this.value);" disabled>
                    <option value="">{{ lang('txt_country')}}</option>
                </select>
            </label>
            <br/>
            <label>
                <select class="form-control city" id="city" onchange="showEvent(this.value);" disabled>
                    <option value="">{{ lang('txt_city')}}</option>
                </select>
            </label>
        </form>

        <div id="event-row" class="row show-event" style="display: none;">
            
        </div>
                
               
        <div class="text-center">

            <a href="{{ base_url }}{{ current_lang }}/add-event" class="submit">{{ lang('txt_add_event') }}</a>
        </div>
        <div class="modal fade" id="modal-addevent" tabindex="-1" role="dialog" aria-labelledby="modal-addevent" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="modal-content">
                    <div id="form-content" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{ lang('txt_add_event') }}</h4>
                    </div>
                    {#<div class="modal-body">
                        <form role="form" id="modal-addevent-form" class="contact" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_event_name') }}" id="eventname">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" placeholder="{{ lang('txt_email') }}" id="email">
                            </div>
                            <div class="form-group">
                                <textarea id="desc" class="form-control" placeholder="{{ lang('txt_event_desc') }}"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="datetime" class="form-control input-lg" placeholder="{{ lang('txt_date') }}" id="date">
                            </div>
                            <div class="form-group">
                                <input type="datetime" class="form-control input-lg" placeholder="{{ lang('txt_time') }}" id="time">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_country') }}" id="countryf">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_city') }}" id="cityf">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_location') }}" id="location">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_organization') }}" id="organisation">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="{{ lang('txt_web_link') }}" id="weblink">
                            </div>
                            <div class="form-group">
                              
                            </div>
                            <div class="form-group">
                                <img src="assets/img/frame.png" alt="Image preview" id="preview">
                            </div>
                            <div class="modal-footer">
                                {#<input type="submit" class="btn btn-success btn-block btn-lg" value="Submit">#}
                                <input id="submit" type="button" class="submit" value="Submit" onclick="submitEvent()">
                            </div>
                    </form>
                    </div>
                </div>
            </div>

    </div>
    <div class="parent">
        <div class="child">
            <div class="box css3-shadow"></div>
            <h3 class="main-title">{{ lang('txt_title_support_us')}}</h3>
            <div>
                <p class="sub-support-title">{{ lang('txt_desc_support_us')}}</p>
                <p class="sub-support-title"> {{ lang('txt_desc_support_us_2')}}</p>
                <h3 class="sub-support-title">{{ lang('txt_desc_support_3')}}</h3>
                <button onClick="window.open('http://www.alz.co.uk/donate');" class="submit">{{ lang('txt_donate')}}</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}

    {{ asset_js('jquery-1.11.1.min.js') | raw }}
    {{ asset_js('jquery.chained.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    {{ asset_js('bootstrap.min.js') | raw }}
    
 <script type="text/javascript" charset="utf-8">
     $(".back-btn").click(function(){debugger;
         var prevElement=$('.selectedDiv').prev();
         prevElement.show();
         $(".selectedDiv").hide();
         $(".selectedDiv").removeClass("selectedDiv");
         prevElement.addClass("selectedDiv");

         if($('.first').css('display')=="block"){
             $(".back-btn").addClass("off");
         }
         else{
             $(".next-btn").removeClass("off");
         }
     });

     $(".next-btn").click(function(){debugger;
         var nextElement= $('.selectedDiv').next();
         nextElement.show();
         $(".selectedDiv").hide();
         $(".selectedDiv").removeClass("selectedDiv");
         nextElement.addClass("selectedDiv");
         if($('.last').css('display')=="block"){
             $(".next-btn").addClass("off");
         }
         else{
             $(".back-btn").removeClass("off");
         }
     });
     
function showCountry(str) {
    $.ajax({ 
        type: 'POST', 
        url: "{{ base_url() }}get-country?id="+str, 
        data: {}, 
        success: function(data){ 
            
            var reset = '<option value="0"> Please Select City</option>';
            var temp = '<option value="0"> Please Select Country</option>';
            var json = JSON.parse(data);
            $.each(json, function(i, item){
            
                //console.log(item.name);
                temp += '<option value="'+ item.id +'">'+ item.name +'</option>';                    
            });
        
            document.getElementById("country").disabled = false;
            $('#country').html(temp);
            $('#city').html(reset);
        
        } 
    }); 
   
}

function showCity(str) {
  
    $.ajax({ 
        type: 'POST', 
        url: "{{ base_url() }}get-city?id="+str, 
        data: {}, 
        success: function(data){ 
        
            var temp = '<option value="0"> Please Select </option>';
            var json = JSON.parse(data);
            $.each(json, function(i, item){
    
                console.log(item.name);
                temp += '<option value="'+ item.id +'">'+ item.name +'</option>';                    
            });
        
            document.getElementById("city").disabled = false;
            $('#city').html(temp);     
        } 
    }); 
   
}

function showEvent(str){
    
    $.ajax({ 
        type: 'POST', 
        url: "{{ base_url() }}get-event?id="+str, 
        data: {}, 
        success: function(data){ 
        
            var temp = '';
            var json = JSON.parse(data);
            $.each(json, function(i, item){
                console.log(item.name);
            temp += '<div class="col-md-6 event">\n\
                     <h3 class="sub-title text-orange">'+ item.name +'</h3>\n\
                     <p class="tanggal text-orange">'+ item.event_date  +'</p>\n\
                     <hr/>\n\
                     <p class="meta-desc">'+ item.meta_desc +'</p>\n\
                     <img class="event-gallery img-responsive" src="{{ base_url() }}media/eventimage/'+ item.image +'"><br/><br/>\n\
                     <p class="address">'+ item.content +'</p>\n\
                     <b>Tel:</b> <span> '+ item.phone +'</span><br/>\n\
                     <b>Email:</b> <a href="mailto:'+item.email+'"><span> '+ item.email +'</span></a><br/>\n\
                     <b>Web:</b> <span class="text-orange"> <a href="'+item.web+'" target="_blank"> '+ item.web +'</a></span></p><br/>\n\
                     <a class="more-info" style="border: 1px solid #fcdddc;" href="'+ item.web +'">More Info</a>\n\
                     </div>';                    
            });
        
            document.getElementById("event-row").style.display = "block";
            $('#event-row').html(temp);     
        } 
    }); 
    
}

function previewImage(input) {
    var preview = document.getElementById('preview');
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            preview.setAttribute('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    } else {
        preview.setAttribute('src', 'placeholder.png');
    }
}


function submitEvent(){

    var eventname = document.getElementById('eventname').value;
    var email = document.getElementById('email').value;
    var desc = document.getElementById('desc').value;
    var date = document.getElementById('date').value;
    var time = document.getElementById('time').value;
    var country = document.getElementById('countryf').value;
    var city = document.getElementById('cityf').value;
    var location = document.getElementById('location').value;
    var organisation = document.getElementById('organisation').value;
    var weblink = document.getElementById('weblink').value;
    //var img = document.getElementById('upload');
    //var file = img.files[0];
     //alert(file);
    
    //var preview = document.getElementById("preview");
    //preview.src = file.getAsDataURL();
    
    $.ajax({
        type: "POST",
        url: "{{ base_url() }}get-submit-event", // 
        data: { 
            'eventname':eventname,
            'email':email,
            'desc':desc,
            'date':date,
            'time':time,
            'country':country,
            'city':city,
            'location':location,
            'organisation':organisation,
            'weblink':weblink
            //'img': file
           
        },
        success: function(msg){
            $("#thanks").html(msg);
            $("#modal-content").modal('hide');	
        }{#,
        error: function(){
            alert("failure");
        }#}
    });
}

</script>
 

{% endblock %}