{% extends "pages/views/template_frontend.twig" %}
{% block frontend_header %}
    <div class="header m-display">
        <div class="header-text">
            <h3 class="main-title">{{lang('txt_main_menu_banner')}}</h3>
            <p class="main-text">{{lang('txt_main_text_banner')}}</p>
        </div>
    </div>
    <div id="carousel-example-generic" class="carousel slide d-display" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner home-banner-parent" role="listbox">
            <div class="item active">
                <img src="./assets/img/panjang1.jpg" class="img-responsive" alt="Banner World Alzheimer's Month">
                <div class="carousel-caption home-banner">
                    <h3 class="main-title">{{ lang('txt_main_menu_banner') }}</h3>
                    <p class="main-text">{{ lang('txt_main_text_banner') }}</p>
                </div>
            </div>
            <div class="item">
                <img src="./assets/img/panjang3.jpg" class="img-responsive" alt="Banner World Alzheimer's Month">
                <div class="carousel-caption home-banner">
                    <h3 class="main-title">{{ lang('txt_main_menu_banner')}}</h3>
                    <p class="main-text">{{ lang('txt_main_text_banner')}}</p>
                </div>
            </div>
            <div class="item">
                <img src="./assets/img/panjang4.jpg" class="img-responsive" alt="Banner World Alzheimer's Month">
                <div class="carousel-caption home-banner">
                    <h3 class="main-title">{{ lang('txt_main_menu_banner')}}</h3>
                    <p class="main-text">{{ lang('txt_main_text_banner')}}</p>
                </div>
            </div>
            <div class="item">
                <img src="./assets/img/panjang5.jpg" class="img-responsive" alt="Banner World Alzheimer's Month">
                <div class="carousel-caption home-banner">
                    <h3 class="main-title">{{ lang('txt_main_menu_banner')}}</h3>
                    <p class="main-text">{{ lang('txt_main_text_banner')}}</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock %}
{% block frontend_content %}
    {{ asset_css('default.css') | raw }}
    {{ asset_css('demo.css') | raw }}
    <style type="text/css">
        .mapNav {
            display:none;
        }
        .europe_map {
            width:1019px;
            height:546px;
        }
    </style>
    <div class="parent">
        <div class="child">
            <div class="video-container">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/w_siyLJTFjo" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3 class="main-title">{{ lang('txt_main_title_impact')}}</h3>
            <img class="d-display img-responsive center" src="./assets/img/infographic-alzheimer-epidemic-{{ current_lang }}.jpg" alt="Infographic World Alzheimer's Month">
            <img class="m-display img-responsive center" src="./assets/img/mobile/infographic-{{ current_lang }}.jpg" alt="Infographic World Alzheimer's Month">
        </div>
    </div>
    <div class="box css3-shadow"></div>
    <div class="text-center distance-bottom">
        <a class="submit" href="{{ base_url() }}{{ current_lang }}/get-involved#find-an-event">{{ lang('txt_title_find_event') }}</a>
    </div>
    <div class="channel text-center" style="position: relative">
        <div class="text-center"></div>
        <div class="box css3-shadow"></div>
        <h3 class="font-bold line-xxheight">
            <input id="total-user" type="hidden" />
            <div id="user-counter"></div>
        </h3>
        <br/>
        {#<div class="d-display" style="min-height: 570px;">#}
            {#<div class="europe_map">#}
                {#<img src="./assets/img/world-map-ori.png" alt="" width="1019" height="546" style="top: 0!important;left: 0!important;"/>#}
                {#{% for tm in rows %}#}
                    {#<div class="point" id="p-{{random(800) }}-{{random(500) }}">#}
                        {#<p>#}
                            {#{{ tm.twitter_text }}<br/>#}
                            {#<span>{{ tm.twitter_name }}</span>,#}
                            {#<span>{{ tm.twitter_location }}</span>|#}
                            {#<span>{{ tm.twitter_date }}</span>|#}
                            {#<span>{{ tm.twitter_time }}</span>#}
                        {#</p>#}
                    {#</div>#}
                {#{% endfor%}#}
            {#</div>#}
        {#</div>#}

        <div style="">
            <a class="twitter-timeline"  href="https://twitter.com/AlzDisInt" data-widget-id="602658822306471936">Tweets by @AlzDisInt</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    </div>
    </div>
    <div class="parent">
        <div class="text-center distance-bottom d-display">
            <button id="share-app-twitter" class="submit twitter-submit"><span class="twitter-bird"></span>Tweet</button>
        </div>
        <div class="box css3-shadow"></div>
        <div class="text-center distance-bottom">
            <a class="submit" href="{{ base_url() }}{{ current_lang }}/get-involved">{{ lang('txt_download') }}</a>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    {#{{ asset_js('jquery.1.7.1.js') | raw }}#}
    {{ asset_js('jquery-1.11.2.min.js') | raw }}
    {{ asset_js('canvas-menu.js') | raw }}
    {{ asset_js('bootstrap.min.js') | raw }}
    {{ asset_js('mobilymap.js') | raw }}
    <script type="text/javascript">

        window.onload = function () {

            var numbers = new Array();
            var board = document.getElementById('total-user').value;
            var myDiv = document.getElementById('user-counter');
            var text = document.createTextNode("{{ lang('txt_title_people_tweeting')}}");

            numbers = board.split('');
            var count = numbers.length;
            //alert('jumlah: '+numbers[0]);

            for(var i=0; i<count; i++){
                var newSpan = document.createElement('span');
                newSpan.setAttribute('class', 'flip-display');
                var t = document.createTextNode(numbers[i]);
                newSpan.appendChild(t);
                myDiv.appendChild(newSpan);
            }

            myDiv.appendChild(text);
        };

        $(function(){

//            $('.europe_map').mobilymap({
//                position: 'center',
//                popupClass: 'bubble',
//                markerClass: 'point',
//                popup: true,
//                cookies: false,
//                caption: false,
//                setCenter: true,
//                navigation: true,
//                navSpeed: 1000,
//                navBtnClass: 'navBtn',
//                outsideButtons: '.map_buttons a',
//                onMarkerClick: function(){},
//                onPopupClose: function(){},
//                onMapLoad: function(){}
//            });

        });
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"https:://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
        var tweetUrlBuilder = function(o){
            return [
                'https://twitter.com/intent/tweet?tw_p=tweetbutton',
                '&url=', encodeURI(o.url),
                '&via=', o.via,
                '&text=', o.text
            ].join('');
        };

        $(document).on('click', '#share-app-twitter', function(e) {
            //We tell our browser not to follow that link
            e.preventDefault();
            //We get the URL of the link
            var loc = 'https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fathena.microad.co.id%2Fworld-alzheimers-month%2Fdo-you-remember-me%2Fstep-4&text=September is World Alzheimer%27s Month %23WAM2015. Join %40AlzDisInt and help raise dementia awareness around the world http%3A%2F%2Fworldalzmonth%2Eorg&tw_p=tweetbutton&url=worldalzmonth.org';
            //We trigger a new window with the Twitter dialog, in the middle of the page
            window.open(loc, 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
        });
        $('.carousel').carousel({
            interval: 1000 * 5
//            interval: false
        })
    </script>
{% endblock %}
