{% extends "pages/views/template_frontend.twig" %}

{% block frontend_header %}{% endblock %}

{% block frontend_content %}

<div class="parent" style="min-height: 850px;">
    <h3 class="main-title">{{ lang('txt_title_privacy') }}</h3>

    <p>{{ lang('txt_desc_privacy1') }}</p>

    <p>{{ lang('txt_desc_privacy2') }}</p>

    <p>{{ lang('txt_desc_privacy3') }}<a href="https://www.facebook.com/about/privacy/" target="_blank">{{ lang('txt_desc_privacy3_link') }}</a> {{ lang('txt_desc_privacy3a') }}</p>

    <p>{{ lang('txt_desc_privacy4') }}<a href="https://www.google.com/policies/privacy/" target="_blank">{{ lang('txt_desc_privacy4_link') }}</a> {{ lang('txt_desc_privacy4a') }}</p>

    <p>{{ lang('txt_desc_privacy5') }} <a href="mailto:info@alz.co.uk" target="_blank">{{ lang('txt_contact_us') }}</a>.</p>
</div>
{% endblock %}

{% block frontend_js %}
{{ asset_js('jquery-1.11.2.min.js') | raw }}
{{ asset_js('canvas-menu.js') | raw }}
{% endblock %}
