{% extends "pages/views/template_frontend.twig" %}

{% block fb_head_prefix %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# pixyutil: http://ogp.me/ns/fb/pixyutil#"{% endblock %}
{% block fb_meta_data %}
    <meta property="fb:app_id" content="{{ config('config_basic.fb_app_id') }}" /> 
    <meta property="og:type"   content="pixyutil:event" />
    <meta property="og:url"    content="{{ current_url() }}" /> 
    <meta property="og:title"  content="{{ event_name }}" /> 
    <meta property="og:description"  content="{{ event_desc }}" /> 
    {% if event_image_list | length > 0 %}
    <meta property="og:image"  content="{{ base_url() }}media/event/{{ (event_image_list | first).filename }}" />
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ base_url() }}">Home</a></li>
        <li class="active">{{ page_title }}</li>
    </ol>
{% endblock %}

{% block front_content %}
    <div class="title">
        <div class="title-left"></div>
        <div class="title-right"></div>
        <h2>{{ page_title }}</h2>
    </div>
    <ul class="nav nav-tabs-tutorial">
        <div class="media-video">
            <div class="video" id="video-playlist">
                <div class="video-list event-video-list">
                    <ul>
                        {% set curr_page = 1 %}
                        {% set active_page = 1 %}
                        {% for event in event_list %}
                            <li class="{{ ((event_id == 0 and loop.index0 == 0) or event_id == event.id) ? 'active' : '' }}" data-page="{{ curr_page }}">
                                <a href="{{ base_url() }}event/{{ event.id }}">{{ event.name }}</a>
                            </li>
                            {% if (event_id == 0 and loop.index0 == 0) or event_id == event.id %}
                                {% set active_page = curr_page %}
                            {% endif %}
                            {% if (loop.index % event_per_page) == 0 %}
                                {% set curr_page = curr_page + 1 %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <input type="hidden" id="event-active-page" value="{{ active_page }}" />
                    {% if event_list | length / event_per_page > 1 %}
                    <div class="back navigasi-video" id="media-video-back"></div>
                    <div class="next navigasi-video" id="media-video-next"></div>
                    {% endif %}
                </div>
            </div>
        </div>

    </ul>
    <div id='content' class="tab-content content-event">
        <div class="active">
            <div class="tutorial-display">
                <p class="title-tutorial">{{ event_name }}</p>
                <div class="media-gallery">
                <div class="gallery" id="gallery-list">
                    <div class="gallery-display">
                        <div class="frame-gallery" id="frameGallery">
                            <img />
                        </div>
                    </div>
                    <div class="gallery-list">
                        <ul id="myListGallery">
                            {% set curr_page = 1 %}
                            {% for event_image in event_image_list %}
                                <li class="event-list" data-page="{{ curr_page }}">
                                    <a data-url-img="{{ base_url() }}media/event/{{ event_image.filename }}" href="javascript:" class="galleryLink">
                                        <img src="{{ base_url() }}media/event/thumbnail/{{ event_image.filename }}" alt="{{ printad.name }}" />
                                    </a>
                                </li>
                                {% if (loop.index % gallery_per_page) == 0 %}
                                    {% set curr_page = curr_page + 1 %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if event_image_list | length / gallery_per_page > 1 %}
                        <div class="back navigasi-gallery" id="media-gallery-back"></div>
                        <div class="next navigasi-gallery" id="media-gallery-next"></div>
                        {% endif %}
                        <div class="social-media">
                            <div class="fb-link" id="fb">
                                <div id="fb-root"></div>
                                <script>(function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId={{ config('config_basic.fb_app_id') }}&version=v2.2";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));
                                </script>
                                <div class="fb-like" data-href="{{ current_url() }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                            </div>
                            <div class="twitter-link" id="twit">
                                <a class="twitter-share-button" href="https://twitter.com/share"
                                   data-url="{{ current_url() }}"
                                   data-text="{{event_name}}"
                                   data-count="horizontal"></a>
                                <script type="text/javascript">
                                    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
                                </script>
                            </div>
                        </div>

                    </div>
                    <div class="event-description">
                        {{ event_desc | nl2br }}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block front_js %}
    {{ parent() }}
    <script type="text/javascript">
        $(window).load(function(){
            var event_total_page = Math.ceil({{ event_list | length }}/{{ event_per_page }}),
                event_active_page = parseFloat($('#event-active-page').val());
            function event_move_page() {
                $('#video-playlist li').hide();
                $('#video-playlist li').each(function(){
                    var me = $(this);
                    if (me.data('page') == event_active_page) {
                        me.show();
                    }
                    if (event_active_page <= 1) {
                        $('#media-video-back', '#video-playlist').hide();
                        $('#media-video-next', '#video-playlist').show();
                    }
                    else if (event_active_page >= event_total_page) {
                        $('#media-video-back', '#video-playlist').show();
                        $('#media-video-next', '#video-playlist').hide();
                    }
                    else {
                        $('#media-video-back', '#video-playlist').show();
                        $('#media-video-next', '#video-playlist').show();
                    }
                });
            }
            $('#video-playlist').on('click', '#media-video-back', function(){
                if (event_active_page - 1 > 0) {
                    event_active_page--;
                    event_move_page();
                }
            });
            $('#video-playlist').on('click', '#media-video-next', function(){
                if (event_active_page + 1 <= event_total_page) {
                    event_active_page++;
                    event_move_page();
                }
            });
            event_move_page();
            
            var gallery_total_page = Math.ceil({{ event_image_list | length }}/{{ gallery_per_page }}),
                gallery_active_page = 1;
            function gallery_move_page() {
                $('#gallery-list li').hide();
                $('#gallery-list li').each(function(){
                    var me = $(this);
                    if (me.data('page') == gallery_active_page) {
                        me.show();
                    }
                    if (gallery_active_page <= 1){
                        $('#media-gallery-back', '#gallery-list').hide();
                        $('#media-gallery-next', '#gallery-list').show();
                    }
                    else if (gallery_active_page >= gallery_total_page){
                        $('#media-gallery-back', '#gallery-list').show();
                        $('#media-gallery-next', '#gallery-list').hide();
                    }
                    else {
                        $('#media-gallery-back', '#gallery-list').show();
                        $('#media-gallery-next', '#gallery-list').show();
                    }
                });
            }
            $('#gallery-list').on('click', 'a.galleryLink', function(){
                var me = $(this),
                    data_url = me.data('url-img'),
                    gallery_frame = $('#frameGallery');
                gallery_frame.find('img').attr('src', data_url);
                $('#myListGallery').find('img').removeClass('active');
                me.find('img').addClass('active');
            });
            $('#gallery-list').on('click', '#media-gallery-back', function(){
                if (gallery_active_page - 1 > 0) {
                    gallery_active_page--;
                    gallery_move_page();
                }
            });
            $('#gallery-list').on('click', '#media-gallery-next', function(){
                if (gallery_active_page + 1 <= gallery_total_page) {
                    gallery_active_page++;
                    gallery_move_page();
                }
            });
            gallery_move_page();
            $('#gallery-list').find('a.galleryLink:first').trigger('click');
        });
    </script>
{% endblock %}