{% extends "backend/base.twig" %}

{% block backend_content %}
<div class="wrapper row-offcanvas row-offcanvas-left">
	<!-- Main content -->
	<section class="content">

		<div class="error-page">
			<h2 class="headline text-info"> 404</h2>
			<div class="error-content">
				<h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
				<p>
					We could not find the page you were looking for.
				</p>
			</div><!-- /.error-content -->
		</div><!-- /.error-page -->

	</section><!-- /.content -->
</div><!-- ./wrapper -->
{% endblock %}