/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0px;
    width: 30px;
    height: 40px;
    padding: 5px 0px 0px;
    border: 0px none;
    background: none repeat scroll 0% 0% transparent;
    margin-left: 30px;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: fixed;
}
.navbar-inverse{
    background-color: #FFFFFF;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: 174px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0px;
        width: 100%;
        margin: 0px;
        padding-bottom: 25px;
        padding-top: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000000;
        background-color: #bbb;
        background-color: transparent;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-inverse #slidemenu {
        background: #ffffff;
        border: 1px solid #d2d2d2;
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }
    .nav.navbar-nav.nav-main{
        border-bottom:1px solid #D2D2D2
    }
    .nav.navbar-nav.nav-main > li:hover{
        background-color: #ebebeb;
    }
    .nav.navbar-nav.lang {
        padding-right: 15px;
        display: inline-block;
    }
    .nav.navbar-nav.lang > li{
        display: inline-block;
        padding-top: 20px;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        background: transparent;
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
    .logo > .container > a > img.left , .logo > .container > a > img.right{
        padding: 40px;
    }
}
@media (min-width:768px) {
    .logo > .container > a > img.left, .logo > .container > a > img.right {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        width: auto;
    }
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed;
    }
    .navbar-header {
        left: 0!important
    }
}
@media (max-width:640px) {
    #slide-nav #slidemenu {
        top: 80px;
    }
    #slide-nav .navbar-toggle {
        cursor: pointer;
        position: relative;
        line-height: 0;
        float: left;
        margin: 0px 0px 0px 0px;
        width: 30px;
        height: 40px;
        padding: 5px 0px 0px;
        border: 0px none;
        background: none repeat scroll 0% 0% transparent;
    }
}
