/* ------ general
-----------------------------------------------*/


#content {
    width:960px;
    margin:0 auto;
}

/* ------ mobilymap
-----------------------------------------------*/

.loader {
    background:url(img/loader.gif) no-repeat center #fff;
}

.imgCaption {
    bottom:0;
    left:0;
    color:#fff;
    opacity:.6;
    background:#333;
    padding:10px;
    width:940px;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    text-shadow:1px 1px 0 #111;
    font-weight:bold;
    display:none !important;
}

.bubble .close {
    display:block;
    text-indent:-9999px;
    position:absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    outline:none;
    background:url(../img/close.png) no-repeat;
    cursor:pointer;
}

.mapNav {
    width:84px;
    height:84px;
}

.navBtn {
    position:absolute;
    background-repeat:no-repeat;
    width:32px;
    height:32px;
    outline:none;
    text-indent:-9999px;
    display:block;
    z-index:7;
}

.navBtn0 {
    top:0;
    left:26px;
    background-image:url(img/navtop.png);
}

.navBtn1 {
    top:26px;
    right:0;
    background-image:url(img/navright.png);
}

.navBtn2 {
    bottom:0;
    left:26px;
    background-image:url(img/navbottom.png);
}

.navBtn3 {
    top:26px;
    left:0;
    background-image:url(img/navleft.png);
}

/* ------ example1
-----------------------------------------------*/


.bubble {
    padding:7px 10px;
    background:#ED4C46;
    color:#fff;
    width:240px;
    font-size:11px;
    /*-- css3 --*/
    /*-moz-border-radius:10px;*/
    /*-webkit-border-radius:10px;*/
    /*border-radius:10px;*/
    -moz-box-shadow:0 0 20px #999;
    -webkit-box-shadow:0 0 20px #999;
}

.bubble p {
    margin:5px 0;
}

.bubble span {
    display:inline;
    font-size:12px;
    font-weight:bold;
}

.bubble img {
    vertical-align:bottom;
}

.map_buttons {
    position:absolute;
    top:40px;
    left:40px;
    z-index:10;
}

.map_buttons a:hover {
    background:#111;
    color:#fff;
}

a {
    color:#fff;
}

.europe_map {
}

.point {
    display:block;
    text-indent:-9999px;
    width:32px;
    height:44px;
    width:59px;
    height:61px;
    outline:none;
    background:url(../img/pointer.png) no-repeat;
    cursor:pointer;
}

ul.map_buttons,
ul.map_buttons li {
    list-style:none;
    padding:0;
    margin:0;
}

.map_buttons li {
    margin-bottom:16px !important;
}

.map_buttons a {
    border-radius:4px;
    color:#111;
    display:inline-block;
    font-size:11px;
    line-height:28px;
    margin-right:4px;
    outline:none;
    padding:0 15px;
    text-decoration:none;
    box-shadow:#666 0 0 10px;
    background:#FDC150;
}

.bubble a {
    color:white;
}

