.delay{
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}
p {

}

.main-text{
    font-size: 13px;
    font-weight: lighter;
    margin-top: -15px;
    letter-spacing: 1px;
}

.font-small{
    font: helvetica-medium;
    font-size: 12px;
}
.font-medium{
    font: helvetica-medium;
    font-size: 21px;
}
.space {
    letter-spacing: 10px;
}
body{
    font-family: "HelveticaNeueW01-65Medi";
    /*font-family: "Helvetica W01 Light";*/
    min-height: 200px;
    padding-top: 140px;
}
.row{
    clear: both;
}
.container , .center {
    margin: 0 auto;
}
.logo {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav.navbar-nav.nav-main{
    font-family:'Helvetica W01 Light';
}
.navbar-inverse .navbar-nav > li > a {
    color: #F6303E;
    font-weight: bold;
}
.header{
    position: relative;
    background-image: url("../img/world-alzheimers-month-banner.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    max-height: 450px;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.header .video-banner{
    /*position: relative;*/
    /*z-index: 0;*/
    /*width: 100%;*/
}
.header-text{
    position: absolute;
    top: 60%;
    bottom: 0%;
    left: 30%;
    z-index: 1;
    text-align: center;
    width: 40%;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    opacity: 0.8;
}
.main-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.main-title.title-gap {
    padding-top: 75px;
    padding-bottom: 25px;
}
.main-title.title-gap-bottom{
    padding-top: 75px;
    padding-bottom: 65px;
}
.left {
    float: left;
}
.distance-bottom{
    margin-bottom: 40px;
}
.custom-v-padd{
    margin: 28px auto;
}
.custom-v{
    margin-bottom: 25px;
    margin-top: 25px;
}
a {
    color: #f85662;
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
}
.right , .nav.navbar-nav.lang {
    float: right;
}
.bottom-border, .navbar.navbar-default.navbar-fixed-top.bottom-border {
    border-bottom:1px solid #D2D2D2;
}
.navbar-default{
    background-color: #ffffff;
    border-color: transparent;
}
.nav.navbar-nav.nav-main > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav.navbar-nav.nav-main > li > a:hover , .nav.navbar-nav.nav-main > li > a > span.active{
    background-color: #ebebeb;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #003A5D;
    background-color: transparent;
}
.nav.navbar-nav.nav-main>li>a:hover{
    -webkit-box-shadow:inset 0px 0px 0px 1px #d2d2d2;
    -webkit-box-shadow:inset 0px 0px 0px 1px #d2d2d2;
    -moz-box-shadow:inset 0px 0px 0px 1px #d2d2d2;
    box-shadow:inset 0px 0px 0px 1px #d2d2d2;
    background-color: #ebebeb;
}
.nav.navbar-nav.lang>li>a>span:hover, .nav.navbar-nav.lang>li>a>span.active{
    background-color: #ec413a;
    color: #ffffff;
}
.nav.navbar-nav.lang{
    padding-right: 15px;
}
.nav.navbar-nav.lang>li>a{
    padding-left: 5px;
    padding-right: 5px;
}
.nav.navbar-nav.lang a>span{
    border : 1px solid #d2d2d2;
    padding: 5px;
}
.col-sm-5cols{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.container>.parent{
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
}
.child{
    vertical-align: middle;
    text-align: center;
}
.overlay {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}
.channel{
    margin-top: 20px;
    margin-bottom: 20px;
}
/**home**/
.carousel-inner.home-banner-parent {
    height: 670px;
}
.carousel-caption.home-banner {
    position: relative;
    width: 60%;
    right: 20%;
    left: 20%;
    text-align: left;
    text-shadow: none;
    color: #0F0F0F;
    top: -183px !important;
    background-color: #FFF;
    opacity: 0.8;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 7px !important;
}
.twitter-bird{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 20px;
    background: url("../img/twitter-bird.png");
    padding: 0;
    margin-right: 10px;
}
.tweeter-map{
    background-image: url("../img/world-map.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 546px ;
    background-position: center;

}

.flip-display{
    background-image: url("../img/flip-board.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 34px;
    padding:  4px 6px 4px 7px;
    margin: 0 5px 0 0;
    color: #fff;
}

.m-display{
    display: none;
}
.d-display{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    /*margin-top: -15px;*/
}
/**twitter map**/
.loader {
    background:url(../img/pointer.png) no-repeat center #fff;
}

.imgCaption {
    bottom:0;
    left:0;
    color:#fff;
    opacity:.6;
    background:#333;
    padding:10px;
    width:940px;
    text-align:center;
    font-size:16px;
    text-transform:uppercase;
    text-shadow:1px 1px 0 #111;
    font-weight:bold;
    display:none !important;
}

.bubble .close {
    display:block;
    text-indent:-9999px;
    position:absolute;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
    outline:none;
    background:url(../img/close.png) no-repeat;
    cursor:pointer;
    opacity: 1;
}

.mapNav {
    width:84px;
    height:84px;
}
.bubble {
    padding:7px 10px;
    color: #ffffff;
    background-color: #ed4c46;
    padding: 30px;
    opacity: 0.8;
    filter: alpha(opacity=90);
    display: inline-block;
    position: relative;
    width: 400px;
}

.bubble p {
    margin:25px;
}

.bubble span {
    display:inline;
    font-size:12px;
    font-weight:bold;
}

.bubble img {
    vertical-align:bottom;
}

.map_buttons {
    position:absolute;
    top:40px;
    left:40px;
    z-index:10;
}

.map_buttons a:hover {
    background:#111;
    color:#fff;
}

.wam_map {
    width: 100%;
    height: 100%;
}

.point {
    display:block;
    text-indent:-9999px;
    width:32px;
    height:44px;
    width:59px;
    height:61px;
    outline:none;
    background:url(../img/pointer.png) no-repeat;
    cursor:pointer;
}

ul.map_buttons,
ul.map_buttons li {
    list-style:none;
    padding:0;
    margin:0;
}

.map_buttons li {
    margin-bottom:16px !important;
}

.map_buttons a {
    border-radius:4px;
    color:#111;
    display:inline-block;
    font-size:11px;
    line-height:28px;
    margin-right:4px;
    outline:none;
    padding:0 15px;
    text-decoration:none;
    box-shadow:#666 0 0 10px;
    background:#FDC150;
}

.bubble a {
    color:white;
}
pre .com {
    color: #A4D886;
    color: #F0E68C;
    color: #87CEEB;
    font-style:normal;
    font-family:arial;
}


pre.prettyprint.lang-html {
    max-width:970px;


    overflow:hidden;
}

pre.prettyprint.lang-html:hover {
    max-width:none;
}

body.black {
    background:black;
    box-shadow:none !important;
}

.black pre {
    box-shadow: #555 0px 0px 15px;
    border:1px solid #666;
}

.bif {
    box-shadow:inset 0 0 10px #bbb !important;
}
pre {
    display: inline-block;
    background-color: #222;
    margin-top:14px;
    margin-bottom:14px;
    padding-top:12px;
    padding-left:16px;
    padding-bottom:12px;
    color:white;
    -moz-tab-size: 4;
    -webkit-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    padding-right:20px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:14px;
}
.none {
    display:none !important;
}

.dashed {
    text-decoration:none;
    border-bottom:1px dashed;
}

.demoAdsBox {
    float:left;
}

.clear {
    clear:both !important;
}


.dlangBox {
    font-weight:bold;
}

.dlangBox a {
    font-weight:normal;

}

.dlangBox span {
    margin-right:7px;
}

.dnavBox a {
    color:#777;
}

.jqVersionDescr {
    margin-top:5px;
    font-size:12px;
}

.jqBoxClose {
    position:absolute;
    top:2px;
    right:4px;
    text-decoration:none;
    font-weight:bold;
    color:black;
    font-size:14px;
    line-height:1em;
}

.dnavBox {
    position:absolute;
    top:10px;
    right:17px;
    line-height:1.3em;
    font-size:11px;
    color:#777;
    z-index:100;
}


.jqBox {
    position:absolute;
    top:25px;
    right:-5px;
    background:white;
    border:1px solid #bbb;
    padding:15px;
    z-index:200;
    color:black;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 21px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 0 21px;
    box-shadow: rgba(0,0,0,0.3) 0 0 21px;
}

.jqBoxTitle {
    font-size:13px;
    white-space:nowrap;
    margin-bottom:8px;
}

.buttonsLine form {
    margin:0;
    padding:0;
    line-height:1em;
}

.buttonsLine form input {
    margin:0;
    padding:1px;
    min-width:44px;
    display:inline-block;
    text-align:center;
}

.jqueryCurrent {
    font-size:18px;
    font-weight:normal;
    padding-left:3px;
    line-height:1em;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    padding-right:2px;
    display:inline-block;
    background:#FBEF9A;
}

.buttonsLine form,
.jqueryCurrent {
    margin-bottom:4px;

}

body.nopadding div.demowrap {
    padding-left:0;
}

.inner, .dinner {
    padding-top:1px;
    padding-bottom:200px;
}

.FSrecommended {
    font-size:18px;
    margin-top:30px;
    display:inline-block;
    border:1px dashed green;
    padding: 7px 12px;
    margin-bottom:20px;
}

.vertical-tabs {
    margin-bottom:40px;
}

.noFooter {
    margin-bottom:50px;
}

.backButtonAbsolute {
    position:absolute;
    bottom:10px;
    left:10px;
    display:inline;
    z-index:1000;
    background:#eee;
    margin:0 !important;

    opacity: 0.8;
    filter:alpha(opacity=80);
}
.backLink:hover {
    color:#bc0000;
}
.backLink {
    line-height:1.2em;
    padding-top:5px;
    margin-right:30px;
    margin-bottom:15px;
    margin-top:30px;
    color:#0077B3;
    font-size:25px !important;
    font-family:arial;
    padding:5px;
    padding-left:20px;
    padding-bottom:20px;
    clear:both;
    display:block;
    width:220px;
}
.nopadding .demowrap {
    padding:0 !important;
}

.wrapper,
.demowrap {
    min-height: 100% !important;
}

/**end twitter map**/
/**end home**/
/**get involved**/
.ad {
    width: 200px;
    height: 200px;
    /*background-color: #ebebeb;*/
    margin-top: 25px;
    margin-bottom: 25px;
    /*position: relative;*/
}
.ad > .ad-title {
    position: absolute;
    width: 200px;
    height: 55px;
    background-color: #ec635e;
    color: #ffffff;
    margin-top: 163px;
    padding: 10px;
}
.ad > .ad-image {
    position: absolute;
    width: 200px;
    height: 200px;
    /*overflow: hidden;*/
}
.ad > .ad-image > a > img {
    max-width: 100%;
    height: auto;
}
.ad > .ad-image-na {
    position: absolute;
    width: 218px;
    height: 163px;
    background-image: url("../img/coming-soon.jpg");
}
.form-control {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-image: none;
    border: none;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    background-color: #ebebeb;
}
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
label {
    position:relative;
    width: 100%;
    font-weight: 100!important;
}

label:after {
    background : url(../img/symbol.png) no-repeat;
    width: 11px;
    height: 16px;
    content : "";
    font:11px "Consolas", monospace;
    right:8px;
    top:10px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}
.text-orange{
    color: #ec413a;
}
.event{
    position: relative;
    margin-bottom: 35px;
    min-height: 800px;
}
#thanks{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.alert-success {
    border-color: darkgreen;
    color: green;
    background-color: #FFFFFF;
}
img.event-gallery{
    display: block;
    height: auto;
    width: 100%;
    max-width: 413px;
    max-height: 232px;
    margin: 0 auto;
}
/**end involved**/
/**footer**/
.footer{
    background-color: #ebebeb;
    /*height: 320px;*/
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}
.footer a{
    font-weight: bold;
    color: #000000;
}
.footer a:hover{
    color: #EC413A;
}
.social-media{
    padding-left: 0px;
    padding-top: 10px;
}
.social-media>li{
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
.social-media>li>a{
    /*width: 33px;*/
    /*height: 31px;*/
    display: block;
}
.social-media>li>a:hover{
    /*height: 33px;*/
    /*border: 1px solid #d2d2d2;*/
    /*border-radius: 50%;*/
}
.facebook, .twitter, .youtube, .globe, .worldmap {
    background-image: url("../img/social-media-link.png");
    background-repeat: no-repeat;
}
.facebook{
    width: 35px;
    height: 34px;
    background-position: -5px -8px;
}
.twitter{
    width: 35px;
    height: 34px;
    background-position: -40px -8px;
}
.youtube {
    width: 35px;
    height: 34px;
    background-position: -77px -8px;
}
.globe{
    width: 34px;
    height: 34px;
    background-position: -112px -8px;
}
.worldmap {
    width: 35px;
    height: 34px;
    background-position: -147px -8px;
}
.font-bold{
    font-weight: bold;
    font-size: 16pt;
}
.line-xheight{
    padding-bottom: 5px;
    padding-top: 5px;
}
.line-xxheight{
    padding-top: 20px;
}
/**end footer**/
/**dementia**/
.faq-dementia{
    padding-bottom: 50px;
    padding-top: 50px;
}
.dementia-1, .dementia-2, .dementia-3, .dementia-4, .dementia-5, .dementia-6{
    background-image: url("../img/symbol-dementia.png");
    background-repeat: no-repeat;
    width: 133px;
    height: 135px;
}
.dementia-1{
    background-position: -1px -1px;
}
.dementia-2{
    background-position: -1px -136px;
}
.dementia-3{
    background-position: -1px -269px;
}
.dementia-4{
    background-position: -1px -402px;
}
.dementia-5{
    background-position: -1px -535px;
}
.dementia-6{
    background-position: -1px -670px;
}
.newspaper {
    -webkit-column-count: 1!important; /* Chrome, Safari, Opera */
    -moz-column-count: 1!important; /* Firefox */
    column-count: 1!important;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: lighter;
}

.left{
    text-align: left;
}

.sub-title{
    margin-top: 95px;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: lighter;
}

.sub-support-title{
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: lighter;
}

.question{
    font-size: 18pt;
    color: #ec413a;
    position: relative;

}
.question.line{
    background: #ec413a;
    height:1px;
    margin-top:10px;
    margin-bottom: 20px;
}
.question.line span{
    background: none repeat scroll 0% 0% #FFF;
    position: relative;
    top: -20px;
    left: 0px;
    padding:0px 10px 0px 0px;
}

.carousel-inner.about-dementia{
    height: 785px;
}
.carousel-caption{
    position: relative;
    width: 77%;
    right: 20%;
    left: 12%;
    text-align: left;
    text-shadow: none;
    color: #0F0F0F;
    padding-top: 45px!important;
    padding-bottom: 52px;
}
.carousel-inner > p.question{
    font-size: 18px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}
.glyphicon.glyphicon-chevron-right{
    background: url("../img/right-2.png");
    font-size: 0;
    width: 36px;
    height: 36px;
    top: 35%;
}
.glyphicon.glyphicon-chevron-left{
    background: url("../img/left-2.png");
    font-size: 0;
    width: 36px;
    height: 36px;
    top: 35%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 35px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 35px;
}
.footnote{
    color: #6e6052;
    font-size: 14px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow,
.css3-gradient1,
.css3-gradient2
{
    position:relative;
    -webkit-box-shadow:0 1px -1px rgba(0, 0, 0, 0.3);
}
.css3-shadow:after
{
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    bottom: 0px;
    width: 80%;
    height: 25%;
    border-radius: 100%;
    left: 10%;
    right: 10%;
}
.css3-gradient1:after{
    content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    bottom:0;
    width:120%;
    height:50px;
    left:-10%;
    right:-10%;
    background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
    background:		   radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
}
.css3-gradient2:after{
    content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    bottom:0;
    width:120%;
    height:90px;
    left:-10%;
    right:-10%;
    background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(96, 251, 202, 0.8), rgba(112, 220, 255, 0.5), rgba(255, 116, 225, 0.0) 50%), -webkit-radial-gradient(80% 10%, circle contain, rgba(96, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 180%), -webkit-radial-gradient(90% 20%, circle contain, rgba(255, 255, 202, 0.8), rgba(255, 255, 255, 0.0) 60%);
    background:radial-gradient(ellipse at 50% -3%, rgba(96, 251, 202, 0.8), rgba(112, 220, 255, 0.5), rgba(255, 116, 225, 0.0) 50%), radial-gradient(circle at 80% 10%, rgba(96, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 2%), radial-gradient(circle at 90% 20%, rgba(255, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 1%);
}
.box h4{
    background:#eee;
    margin:0;
    padding:60px 20px;
    text-align:center;
    -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
}
.box {
    clear: both;
    width:100%;
    padding:20px;
    background:#fff;
    margin:20px auto 60px;
    border-radius:2px;
}
/*==================================================
 * End drop shadow
 * ===============================================*/
/**end dementia**/
/**get involved**/
.panel-group{
    clear: both;
}
.more-info{
    padding: 10px;
    font-size: 13.99pt;
    color: #ec413a;
    border: none;
    background-color: #ffffff;
}
.submit{
    padding: 10px 70px;
    font-size: 22.02pt;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background-color: #ec413a;
    box-shadow: 8px 8px 0px #a51c16;
    text-align: center;
    display: inline-block;
}
.submit:focus , .submit:hover{
    color: #fff;
    background-color: #d12f28;
    box-shadow: 8px 8px 0px #a51c16;
}
.submit.twitter-submit{
    background-color: #2caae0;
    box-shadow: 8px 8px 0px #035a7a;
}
.submit.twitter-submit:hover{
    background-color: #0371a0;
    box-shadow: 8px 8px 0px #023e58;
}
.important{
    color: #ec413a;
}
.pay-worldpay, .pay-mc, .pay-jcb, .pay-maestro, .pay-visa {
    background-image: url("../img/symbol-donationt.png");
    background-repeat: no-repeat;
}
.pay-worldpay{
    width: 110px;
    height: 40px;
    background-position: -1px -3px;
}
.pay-mc{
    width: 70px;
    height: 43px;
    background-position: -148px -1px;
}
.pay-jcb{
    width: 53px;
    height: 43px;
    background-position: -221px -1px;
}
.pay-maestro{
    width: 64px;
    height: 43px;
    background-position: -276px -1px;
}
.pay-visa{
    width: 67px;
    height: 43px;
    background-position: -343px -1px;
}
.boundaries{
    border:1px solid #bbb;
    display: inline-block;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/**end get involved**/

/**about wam**/
.fact-1 , .fact-2, .fact-3, .fact-4, .fact-5, .fact-6 {
    background-image: url("../img/facts-symbol.png");
    background-repeat: no-repeat;
    display: block;
}
.fact-1{
    width: 73px;
    height: 73px;
    background-position: -2px -8px;
}
.fact-2{
    width: 73px;
    height: 73px;
    background-position: -226px -8px;
}
.fact-3{
    width: 73px;
    height: 73px;
    background-position: -77px -8px;
}
.fact-4{
    width: 73px;
    height: 73px;
    background-position: -301px -8px;
}
.fact-5{
    width: 73px;
    height: 73px;
    background-position: -151px -8px;
}
.fact-6{
    width: 73px;
    height: 73px;
    background-position: -376px -8px;
}
.table-bordered {
    padding: 15px;
}
.vertical-line{
    border-left: 1px solid black;border-color: #d2d2d2
}
.img-responsive-costom{
    max-width: 100%;
    height: auto;
}
.video-container {
    position: relative;
    padding-bottom: 360px;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 45px;
    width: 640px;
    margin: 0 auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
}
/**end about wam**/
/**experience**/
.font-12{
    font-size: 12px;
}
.button-start{
    background-image: url("../img/button-start.png");
    width: 131px;
    height: 49px;
    margin: 28px 0px;
}
.time-counter{
    font-size: 36px;
}
.frame-exp{
    position: relative;
    background-image: url("../img/exp-three-frame.png");
    background-repeat: no-repeat;
    line-height: 200px;
    width: 436px;
    height: 433px;
    float: right;
}

.frame-exp img{
    vertical-align: middle;
}

.in-frame{
    position: absolute;
    padding: 0;
    max-width: 284px;
    max-height: 285px;
    margin: auto;
    top: -25px;
    bottom: 0;
    left: -33px;
    right: 0;
}

.input-tag{
    padding: 10px 0 10px 5px;

}

.button-try-again{
    background-image: url("../img/btn_try_again.png");
    width: 192px;
    height: 48px;
    margin: 20px auto;
}
.button-submit{
    background-image: url("../img/button-submit.png");
    width: 191px;
    height: 68px;
    margin: 28px 0;
}
/*facebook share*/

/*end facebook share*/
ul{
    /*list-style: none;*/
}
.share-facebook, .share-twitter, .share-google-plus, .share-pinterest {
    background-image: url("../img/social-media-button.png");
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px auto;
}
.share-facebook{
    width: 34px;
    height: 36px;
    background-position: -176px -8px;
}
.share-twitter{
    width: 34px;
    height: 36px;
    background-position: -212px -8px;
}
.share-google-plus{
    width: 34px;
    height: 36px;
    background-position: -245px -8px;
}
.share-pinterest{
    width: 34px;
    height: 36px;
    background-position: -278px -8px;
}
.share-social-media{
    padding-left: 0px;
}
.share-social-media > li{
    display: inline-block;
}

/**end experience**/

/*new do you remember me*/
.grey-line{
    background-color: #f5f5f5;
    position: relative;
}
.grey-upper-line{
    border: solid #cccccc;
    border-width: 7px;
    margin-bottom: 5px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.grey-bottom-line{
    border: solid #CCCCCC;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 28px;
}
.padd{
    padding-left: 2px;
    padding-right: 2px;
}
.top-25{
    margin-top: 25px;
}
.text-warning{
    color: #FF0101;
}
.main-title-left {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
}
.early-stage{
    border-style: solid none none;
    border-color: #CCC -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 7px medium medium;
    margin-bottom: 5px;
    margin-top: 55px;
    position: relative;
}
.early-stage > img{
    position: absolute;
    margin-top: -63px;
    z-index: 1;
    margin-left: 45%;
}
.early-stage-content{
    background-color: #F5F5F5;
    position: relative;
    padding-top: 85px;
    padding-bottom: 80px;
}
.font-22{
    font-size: 22px;
}
.font-13{
    font-size: 13px;
}
.font-18{
    font-size: 18px;
}
.circle-choose{
    padding: 47px;
    width: 119px;
    height: 119px;
    text-align: center;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 1px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    font-size: 11px;
}
.circle-choose:hover , .circle-choose-remember:hover{
    background-color: #EC413A;
    color: #ffffff;
}
.circle-choose-remember{
    padding-left: 3px;
    width: 119px;
    height: 119px;
    text-align: center;
    border-style: solid;
    border-color: #BFBFBF;
    border-width: 1px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    padding-top: 50px;
    cursor: pointer;
    font-size: 11px;
}
.custom-circle-choose{
    padding-top: 40px;
}
.active-button{
    background-color: #ec413a;
    color: #ffffff;
}
.early-stage-content.mid-stage{
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
}
.early-stage-content.mid-stage > img{
    position: absolute;
    margin-left: -58px;
}
.early-stage-content.mid-stage p{
    margin-left: 80px;
}
.left-65{
    margin-left: 65px;
    margin-right: 65px;
}
.early-stage.left-icon > img {
    position: absolute;
    margin-top: -63px;
    z-index: 1;
    margin-left: -68px;
}
.no-margin{
    margin-right: 0;
    margin-left: 0;
}
.padd-55{
    padding-top: 55px;
    padding-bottom: 50px;
}
.facebook-login > a > img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.social-media > li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.circle-choose:hover, .circle-choose-remember:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.italic-light-neue{
    font-family: HelveticaNeueW10-46Ligh;
}
.top-vert{
    margin-top: 8%;
}
.text-blue{
    color: #0054a6;
}
a.underline{
    text-decoration: underline;
}
.padd-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padd-40{
    padding-bottom: 40px;
}
.inner-line {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.custom-col-2{
    width: 10%;
    font-size: 13px;
}
.continue{
    padding: 6px 50px;
    font-weight: bold;
    color: #FFF;
    border: medium none;
    background-color: #EC413A;
    box-shadow: 8px 8px 0px #A51C16;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
}
/*end new do you remember me*/
/*campaign*/
.campaign-poster {
    width: 200px;
    height: 286px;
    margin: 5px;
    float: right;
}
.campaign p {
    text-align: left;
}
/*end campaign*/
@media only screen and (max-width :1440px) {
    .carousel-inner.home-banner-parent {
        height: 515px;
    }
}

@media only screen
and (max-width: 1366px){
    .carousel-caption.home-banner {
        top: -213px !important;
        padding-top: 40px !important;
    }
    .carousel-inner.home-banner-parent {
        height: 490px;
    }
    .carousel-caption.home-banner {
        width: 60%;
        left: 20%;
        right: 20%;
    }
}
@media only screen
and (max-width: 1280px){
    .carousel-inner.home-banner-parent {
        height: 460px;
    }
    .carousel-caption.home-banner {
        top: -203px !important;
        padding-top: 40px;
    }
    .carousel-inner {
        height: 445px;
    }
    .carousel-caption {
        padding-top: 10px !important;
    }
    .carousel-caption {
        padding-top: 35px !important;
    }
}
@media only screen
and (max-width: 1200px){
    .carousel-inner.home-banner-parent {
        height: 435px;
    }
}
@media only screen
and (max-width : 1080px){
    /*home*/
    .carousel-inner.home-banner-parent {
        height: 395px;
    }
    .header-text{
        top: 35%;
    }
    /*end home*/
}
@media only screen
and (max-width : 1024px){
    /*home*/
    .carousel-inner.home-banner-parent {
        height: 375px;
    }
    .header-text{
        top: 35%;
    }
    body {
        font-size: 12px;
    }
    .carousel-caption.home-banner {
        top: -220px !important;
    }

    .carousel-inner{
        height: 274px;
    }
    .nav.navbar-nav.nav-main > li > a {
        padding-right: 15px;
        padding-left: 15px;
    }
    /*end home*/
    /*about wam*/
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        margin-bottom: 45px;
        width: 100%!important;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /*end about wam*/
}
@media only screen
and (max-width: 900px ){
    body {
        padding-top: 190px;
    }
    .carousel-inner.home-banner-parent {
        height: 335px;
    }
}
@media only screen
and (max-width : 800px){
    .nav.navbar-nav.nav-main > li > a {
        padding-right: 5px;
        padding-left: 5px;
    }
    .main-text {
        font-size: 12px;
    }
    .d-display {
        font-size: 12px;
    }
    .newspaper {
        font-size: 12px;
    }
    /*home*/
    .carousel-inner.home-banner-parent {
        height: 300px;
    }
    .header-text{
        top: 5%;
    }
    /*end home*/
    /*about dementia*/
    .carousel-inner.about-dementia {
        height: 605px;
    }
    /*end about dementia*/
}
@media only screen
and (max-width : 768px)
{
    body{
        min-height: 200px;
        padding-top: 140px;
    }
    .header {
        height: 420px;
    }
    .header-text{
        width: 60%;
        left: 20%;
        top: 15%;
    }
    .container , .container > .parent{
    }
    .container > .parent {
        margin: 20px auto;
    }
    h3{
        margin-bottom: 20px;
    }
    p{
        font-size: 12px;
    }
    nav{
        display: none;
    }
    .header{
        background-image: url("../img/mobile/welcome.png");
        height: 280px;
    }
    .header-text {
        top: 20%;
    }
    .carousel-inner.about-dementia {
        height: 568px;
    }
    .carousel-caption.home-banner {
        top: -238px !important;
    }
    .carousel-caption {
        padding-top: 45px !important;
    }
    .col-sm-5cols {
        width: 20%;
    }
    .header-text {
        /*        width: 820px;
                height: 258px;*/
        position: absolute;
        bottom: 0px;
        z-index: 1;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
        background-color: transparent;
        margin: 0 auto;
        color: rgb(255, 255, 255);
    }
    .logo-mobile{
        /*margin: 20px 30px;*/
    }
    .custom-padd{
        margin-left: 15px;
    }
    .custom-20-padd{
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        font-size: 13px;
    }
    .custom-10-padd{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 13px;
    }
    .custom-5-padd{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 13px;
    }
    .font-small{
        font-size: 12px;
    }
    .font-medium{
        font-size: 16px;
    }
    .font-bold{
        font-size: 22px;
    }
    .footer > .container{
        margin-left: 27px;
        margin-right: 27px;
    }
    .box {
        margin: 20px auto 20px;
    }
    /*home*/
    .header-text > p{
        line-height: 20px;
    }
    .main-title {
        font-size: 22px;
        padding-bottom: 0;
        padding-top: 0 ;
    }
    .m-display{
        display: block;
        margin: 10px auto;
    }

    .d-display{
        display: none;
    }
    .submit {
        padding: 10px 20px;
        margin-top: 25px;
        position: relative;
        margin-bottom: 25px;
    }
    /**twitter widget**/
    .twitter-timeline.twitter-timeline-rendered{
        max-width: 90%!important;
    }
    /**end twitter widget**/
    /*end home*/
    /*about dementia*/
    .dementia-1, .dementia-2, .dementia-3, .dementia-4, .dementia-5, .dementia-6 {
        margin: 20px auto;
    }
    .panel{
        box-shadow: none;
    }
    .panel-default{
        border: none;
    }
    .panel-default .panel-heading {
        color: #ffffff;
        background-color: #ec413a;
        border: none;
    }
    .panel-title{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        color: inherit;
        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }
    .collapsed .triangle{
        position: absolute;
        background-image: url("../img/horizontal-triangle.png");
        width: 4px;
        height: 7px;
        right: 20px;
        margin-top: 2%;
    }
    .triangle{
        position: absolute;
        background-image: url("../img/down-triangle.png");
        width: 7px;
        height: 4px;
        right: 20px;
        margin-top: 2%;
    }
    .glyphicon.glyphicon-chevron-left {
        top: 15%;
    }
    .glyphicon.glyphicon-chevron-right {
        top: 15%;
    }
    .carousel-caption > .question {
        font-size: 12px;
    }
    .carousel-caption > .footnote {
        font-size: 12px;
    }
    .carousel-inner {
        height: 400px;
    }
    /*end about dementia*/
    /* about wam*/
    .fact-1, .fact-2, .fact-3, .fact-4, .fact-5 {
        background-image: url("../img/facts-symbol-mobile.png");
        background-repeat: no-repeat;
        display: block;
        background-color: #EC413A;
        margin: 0px auto;
    }
    .fact-1 {
        width: 40px;
        height: 40px;
        background-position: -2px 0px;
    }
    .fact-2 {
        width: 40px;
        height: 40px;
        background-position: -2px -40px;
    }
    .fact-3 {
        width: 40px;
        height: 40px;
        background-position: -2px -80px;
    }
    .fact-4 {
        width: 40px;
        height: 40px;
        background-position: -2px -122px;
    }
    .fact-5 {
        width: 40px;
        height: 40px;
        background-position: -2px -180px;
    }
    .fact{
        border: 1px solid #DDD;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .fact{
        background-color: #EC413A;
    }
    .fact-detail{
        background-color: white;
        margin-top: -20px;
        margin-bottom: -15px;
        padding-top: 20px;
        padding-bottom: 15px;
    }
    /*end about wam*/
    /*get involved*/
    .panel-heading.accor-event{
        color: #EC413A;
        background-color: #FFFFFF;
        border-bottom: 1px solid #ec413a;
    }
    .panel-collapse{
        /*border-bottom: 1px solid #ec413a;*/
    }
    .ad{
        margin: 25px auto;
    }
    .vote-result { display: none; }
    .vote-result.first { display: block; }
    .off{display:none;}
    .back-btn{
    }
    .next-btn{

    }
    .left-slide,.right-slide{
        margin-top: 38%;
    }
    .right-slide{
        margin-left: 25px;
    }
    .event {
        position: relative;
        min-height: auto;
    }
    /*end get involved*/
    /*do you remember me*/
    .frame-exp{
        position: relative;
        background-image: url("../img/mobile/exp-three-frame.png");
        width: 296px;
        height: 316px;
        float: none;
    }
    .in-frame {
        position: absolute;
        max-width: 209px;
        max-height: 210px;
        margin: auto;
        top: -15px;
        bottom: 0px;
        left: -1px;
        right: 0px;
    }
    form {
        text-align: center;
    }
    /*end do you remember me*/
    /*do you remember me step 2*/
    .button-start.custom-v-padd{
        margin: 28px auto;
    }
    /*end do you rember me step 2*/
    /*new do you remember me*/
    .m-text-center{
        text-align: center;
    }
    .m-center{
        margin: 0 auto;
    }
    .early-stage > img.m-center-custom{
        margin-left: 41%;
    }
    .pull-left{
        float: none!important;
        text-align: center;
    }
    .choose{
        width: 300px;
        margin: 0 auto;
    }
    .circle-right{
        margin-right: 20px;
    }
    .circle-left{
        margin-left: 20px;
    }
    /*end new do you remember me*/
}
@media only screen
and (max-width : 640px)
{
    .header-text{
        top: 22%;
    }
    .logo-mobile{
        margin: 20px 30px;
    }
    /*new do you remember me*/
    .early-stage > img.m-center-custom {
        margin-left: 40%;
    }
    .share-social-media {
        padding-left: 15px;
    }
    .padd-20 {
        padding-top: 0;
        padding-bottom: 20px;
        margin-top: -20px;
    }
    /*end do you remember me*/
}
@media only screen
and (max-width : 480px)
{
    /*home*/
    .header-text{
        width: 80%;
        left: 10%;
        top:5%
    }
    .submit{
        font-size: 17px;
    }
    .header-text {
        top: 25%;
    }
    /*end home*/
    /*about dementia*/
    .carousel-inner.about-dementia {
        height: 560px;
    }
    /*end about dementia*/
    /*new do you remember me*/
    .early-stage > img.m-center-custom {
        margin-left: 37%;
    }
    /*end do you remember me*/
}
@media  only screen and (max-width: 320px){
    .header-text {
        top: 3%;
    }
    body {
        padding-top: 110px;
    }
    /*new do you remember me*/
    .early-stage > img.m-center-custom {
        margin-left: 30%;
    }
    /*end do you remember me*/
    /*campaign*/
    .campaign {
        text-align: center;
    }
    .campaign-poster {
        width: 200px;
        height: 286px;
        margin: 5px;
        float: none;
    }
    /*end campaign*/
}